[2017-03-14 12:12] prateekbh opened #1 "NPM package already taken"
Hi @Download,
I kinda tried reaching you over mail but had little luck.
I guess you and I are working over similar thing `preact-material-component`.
Please take a look at the repo and let me know if it kinda aligns to your vision of the same.
I'd be happy to add you as a collaborator.

Currently you are owning the package `preact-material-component` @ NPM, it'd be great if we can share the releas

[2017-03-14 21:50] Download commented on #1
Hi @prateekbh
Wow yes it looks like we are working on the same stuff.

I would be happy to share the package name, but:
1) A package `preact-mdl` already exists
2) I have (pretty strict) ideas about what I want with this package.

My ideas: I want to create a version of material-components-web for preact that:
1) Does not rely on JS for the client side (so if JS is disabled on the browser, it shou

[2017-03-15 06:43] prateekbh commented on #1
Thanks for the time @Download, I see what you are trying to build and is a really nice idea.
I am happy to put down my ideas and Goals fro this Repo:

Both`preact-mdl` and `preact-material-components` are based on the similar idea of `Thinnest Wrapper over the underlying library for the perfect ease` of use of the same.

However `preact-mdl` or even `material design lite` are not very breakable in

[2017-03-15 21:46] Download commented on #1
@prateekbh You make a good argument. `material-components-web` is built in a certain way and users would probably expect preact-material-components to do the same thing.

However, I know for a fact that material-components-web is *not* compatible with AMP, because I [checked](https://github.com/material-components/material-components-web/issues/389). I think it's a shame as they are both hot new G

[2017-03-15 22:01] Download commented on #1
I got an idea.

I also 'own' the namespace [preact-material](https://www.npmjs.com/package/preact-material). I like it because it's short and sweet.

I also just grabbed [preact-material-amp](https://www.npmjs.com/package/preact-material-amp).

This might be sweet? Use the components from material-components-web that work well with AMP out of the box (maybe after some small fixes) from `preact-mat

[2017-03-16 04:37] prateekbh commented on #1
Great Ideas.
Although the aim of keeping this really lightweight wrapper over `material-component-web` makes me hesitant over the approach of namespace `preact-material/checkbox`.

Even in current implementation you can do

``` import Checkbox from preact-material-components/checkbox/```

or

``` import {Checkbox} from preact-material-components // because TreeShaking```

I'd be super happy if we

[2017-03-16 14:32] prateekbh opened #3 "handle class based disabling of components"
Some components are disabling to be done via classes.
e.g. mdc-select.. and  a few more, need to check
simplest solution would be to change the className in materialDom function

[2017-03-17 11:28] prateekbh opened #6 "Check how these perform with server side rendering"
Most of initialization code is written in componentDidMount, verify how the noJS version of these things work.
or even how does the transition from server rendered to client rendering looks like

[2017-03-17 13:51] prateekbh opened #7 "Checkbox is misaligned"
Checkbox appears to be misaligned with its ripple.

[2017-03-17 14:05] Download commented on #1
I will leave the choice to you.

I have invited you for the Github project [preact-material](https://github.com/Download/preact-material/invitations)
and made you a collaborator on both the NPM packages [preact-material](https://www.npmjs.com/package/preact-material/) and [preact-material-components](https://www.npmjs.com/package/preact-material-components/).

[2017-03-17 14:09] prateekbh commented on #1
Thanks a ton, I'll soon start a gh-pages micro site and ping you to review.

[2017-03-17 14:09] #1 closed

[2017-03-18 18:31] oren opened #10 "How to run the sample app?"
Can you please provide the steps to try out this website/app?

[2017-03-19 02:44] prateekbh commented on #10
This app is right now super fragile.
I'll keep this open to add the final comment later, but for now.
Run webpack from sample folder and serve the root folder with any server node http-server or simple python server. And Hopefully it'll work at /sample url.
Sorry for how messy this is right now.

[2017-03-19 19:22] oren commented on #10
I am getting an error. would you elaborate a bit about the steps I should take?

I do the following:
[code]

And I see the following error:
[code]

[2017-03-20 04:29] prateekbh commented on #10
Okay here you go,
1.) take a pull
2.) npm install
3.) cd sample
4.) webpack
5.) cd ..
6.) http-server .

[2017-03-20 04:30] prateekbh commented on #10
@oren lemme know if this works for you

[2017-03-20 16:47] oren commented on #10
Thanks Prateek!
I get the same error as above on step 4.

[2017-03-20 20:07] prateekbh commented on #10
Can u do an independent npm i preact

[2017-03-21 05:05] oren commented on #10
I tried it and got the same error.

more info about my system:
* node 7.7.1
* npm 4.1.2
* Ubuntu 16.04.2 LTS

[2017-03-22 17:45] #7 closed

[2017-03-23 12:01] prateekbh opened #18 "Select component only supports full fidelity js component"
We should add support for basic component as well

[2017-03-30 14:01] prateekbh opened #21 "How to Use"
A lot of components are now ready and working in the sample folder.

Until Uglify does not tree shake IIFE/classes(https://github.com/mishoo/UglifyJS2/issues/1261), we have a way to separately use the JS files like
import Button from 'preact-material-components/Button'
import Card from 'preact-material-components/Card' etc...

and for CSS i can think of something like
import 'preact-material-compo

[2017-03-30 14:05] developit commented on #21
@prateekbh I think most people would be using this via webpack or rollup, which would mean importing CSS is okay - maybe for ease-of-use `Button` straight up imports `Button.css`?  I know we went the opposite route with `preact-mdl`, but that was because the coupling was so loose (people load MDL from a CDN, etc).  Here it seems worthwhile to just get the CSS when you import the component.

[2017-03-30 14:23] laggingreflex commented on #21
Tree shaking may also be applicable to CSS in future, with plugin like [dead-css-loader] which ATM depends on changes to css-loader ([#402]) and style-loader ([#166]) that haven't been merged yet.

[dead-css-loader]: https://github.com/simlrh/dead-css-loader
[#402]: https://github.com/webpack-contrib/css-loader/pull/402
[#166]: https://github.com/webpack-contrib/style-loader/pull/166

[2017-03-30 14:23] prateekbh commented on #21
are you saying that the Button component should also import '@material/button/dist/button.css' within itself?
Do you think it'll work all over without any errors?
Honestly i've not seen a huge enough kinda build system configurations to take this decision.

What if someone is working with `scss` and there loader does not even include .css files?
Suddenly they might start getting errors.

[2017-03-30 14:24] prateekbh commented on #21
@laggingreflex that'd be great, but we need the solution for till that time..
anything in your mind?

[2017-03-31 03:11] developit commented on #21
Hmm, yeah that's true.  Maybe the build job for this repo could inline the CSS? (for now at least?)
Interesting point.

[2017-03-31 04:07] prateekbh commented on #21
Had the exact same thing in my mind, do u happen to know any way to do it?
All the ways i know are specific to webpack or roll-up or something else

[2017-04-02 03:07] prateekbh opened #28 "Download not visible in npm"
Hey @Download
I publish a version of these components just to try out, but something happened and now you are not visible on the npm page.
can you check the package.json and let me know what went wrong?

[2017-04-02 03:17] prateekbh opened #29 "Toolbar Section has ...props instead of props.children"
https://github.com/prateekbh/preact-material-components/blob/master/Toolbar/index.js#L38

[2017-04-02 03:41] #29 closed

[2017-04-02 03:51] prateekbh opened #31 "Typo"
https://github.com/prateekbh/preact-material-components/blob/master/Drawer/index.js#L97-L98

[2017-04-02 04:05] prateekbh opened #33 "Clear "class" attr on root elems"

[2017-04-02 21:40] Download commented on #18
Can you elaborate? What do you mean exactly?

[2017-04-02 21:46] Download commented on #21
Why not let the user take care of importing whatever CSS they need?
Just give some clear examples, one with Webpack, one with inline CSS, one with external stylesheet (on CDN) etc.

If the naming is consistent (as it is now), it's dead simple for the user and he can use any build tool he wants.

[2017-04-02 21:48] Download commented on #28
It was a misnamed element in package.json.... I *think*. Not sure actually but I'm guessing this PR will solve it.

[2017-04-03 00:57] developit commented on #21
@Download ideal would be both options. Currently delegating CSS imports to the user is a little ugly:

[code]

Also for ES imports:

[code]

It'd be really neat if there was an option to import it either way though:

[code]

[2017-04-03 03:14] prateekbh commented on #18
@Download  `material-components-web` has two versions of a `select` component.
a. full fidelity js component
b. basic css only

currently i have only implemented the first one.
just need to copy paste and cleanse the DOM from the mdc repo and flag guard it based on a prop.

[2017-04-03 03:17] prateekbh commented on #21
@developit yes thats the plan to support both the ways.

1.) import the entire css
2.) import css module by module :)

[2017-04-03 03:33] #31 closed

[2017-04-03 07:46] Download commented on #18
Thanks I get it now

[2017-04-03 07:56] Download commented on #10
I am seeing something similar:

[code]

It seems like a Babel issue. Main project works as expected, just the sample has this issue.

[2017-04-03 08:03] prateekbh commented on #21
I am actually now quickly shifting to gh-pages, can you guys try that?
That'll be simillar kinda playground

[2017-04-03 08:04] prateekbh commented on #10
I am actually now quickly shifting to gh-pages, can you guys try that?
That'll be simillar kinda playground

[2017-04-03 08:31] oren commented on #10
I am not sure if that's what you meant but here are my steps:
[code]

And the output is a lot of warnings and also this error:
[code]

[2017-04-03 08:33] Download commented on #10
Ok, so try this:

[code]

For me, it turns out my *global* Webpack install was still Webpack 1....  :(

[2017-04-03 08:39] Download commented on #10
Ok, so with Webpack 2, I get a bit further:

[code]

It seems this is a real error... There is no folder Components.

Changing the import path to `../` seems to fix it:

[code]

PR coming up...

[2017-04-03 08:45] Download commented on #10
@prateekbh

I am not able to start the HTTP server:

[code]

As you can see I am on Windows... not sure if that;s relevant.

Should I install something globally perhaps?

[2017-04-03 10:18] prateekbh commented on #10
@Download http-server is  a node server
run `npm -g http-server`

Also i am starting to build gh-pages. sample folder was just a temporary work around, which i am looking forward to remove in some days

[2017-04-03 10:41] prateekbh commented on #28
published a new version, still not visible.. :(

[2017-04-03 10:42] prateekbh commented on #10
@oren @Download can you guys try running the gh-pages branch instead.
its a WIP, but should guarantee a proper build

[2017-04-03 14:38] prateekbh opened #40 "Icons text as body instead of props"
in Icons.js
take icons text as body instead of props

[2017-04-04 04:12] #40 closed

[2017-04-04 08:27] Download commented on #28
Mmm...

This package of mine had the reverse history... It was owned by someone else who shared it with me.
I published to it many times already, and he is still there on the page:
https://www.npmjs.com/package/ulog

I think maybe it's because my [NPM username](https://www.npmjs.com/~stijndewitt) differs from my [Github username](https://github.com/Download)?

Anyway I don't really mind that I'm n

[2017-04-04 08:39] Download commented on #10
I tried the `gh_pages` branch:

[code]

[2017-04-04 10:18] prateekbh commented on #10
yeah, can you take a pull?
it was because of some extra post-css pluging which i have removes,

take a pull
do npm install
and then webpack

[2017-04-04 10:40] prateekbh commented on #10
i just deleted my folder from my machine and re cloned it... worked fine, lemme know if this still breaks

[2017-04-04 11:21] Download commented on #10
Is this the `gh_pages` branch you are talking about? Because I did a pull and got

[code]

[2017-04-04 11:23] Download commented on #10
Oops sorry! Should pull from `upstream`, not `origin`! Let me retry!

[2017-04-04 11:34] Download commented on #10
After pulling from `upstream`, running `webpack` command in the repo root gives no errors.

However if I cd into `samples` folder and run `webpack` there, it still gives errors:

[code]

I installed `http-server` but not sure how to proceed next.

[2017-04-04 13:28] prateekbh commented on #10
@Download  if you are in `gh-pages` branch, please ignore the `sample` folder completely.
`Sample` folder is being deprecated.
run webpack in root folder

and run `http-server .`

then go to `localhost:8080`

[2017-04-04 15:21] prateekbh commented on #10
I see the pain there @Download @oren, hence adding the script in `gh-pages`

just take a pull and `npm start` to start the server.

[2017-04-04 15:36] prateekbh opened #50 "Swtich Disabled is not implemented"
switch disabling is not implemented

[2017-04-04 15:55] prateekbh opened #51 "Remove "Dialog" Prefix from dialog subclasses"
Dialog can directly have Header,Footer,Body....
no need of DialogHeader, DialogFooter etc

[2017-04-04 18:17] #50 closed

[2017-04-05 01:59] oren commented on #10
works! i am new to React/Preact. would you mind sharing the steps to use it from my preact app?

[2017-04-05 02:42] prateekbh commented on #10
@oren that'll be documented at
Prateekbh.github.io/preact-material-components soon

[2017-04-05 13:31] #51 closed

[2017-04-05 13:32] prateekbh commented on #10
@Download if you can confirm the same i'll close the issue

[2017-04-05 23:00] Download commented on #10
Yes it works great.

Also it looks like you are pretty far along already. Great work man!

[2017-04-05 23:00] #10 closed

[2017-04-07 16:30] prateekbh opened #60 "Demo Code component"
Hey!
I am looking for a component in which i can use to demonstrate code on this preact microwebsite
prateekbh.github.io/preact-material-components/

[2017-04-10 12:32] #60 closed

[2017-04-10 12:32] prateekbh opened #64 "Rename card subcomponents"

[2017-04-11 03:30] #64 closed

[2017-04-11 03:32] prateekbh opened #66 "Launch preperation"
- [x] Proper Read me
- [x] Clear class attr
- [x] 1.0
- [x] Delete entire node modules and check if gh-pages work with current version
- [x] Add How to use in gh-pages
- [x] Add description to gh-pages
- [x] Add basic select component #18
- [x] Issue #72
- [x] Issue #79

[2017-04-12 08:44] prateekbh commented on #66
1.0.0-beta released

[2017-04-12 16:41] greenkeeper[bot] opened #70 "An in-range update of babel-eslint is breaking the build 🚨"
## Version **7.2.2** of [babel-eslint](https://github.com/babel/babel-eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/prateekbh/preact-material-components/compare/greenkeeper%2Fbabel-eslint-7.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-eslint
    </td>
  </tr>

[2017-04-12 17:36] shyndman opened #72 "Consider numeric z attribute for Elevation"
Have you considered having a single numeric z attribute on the Elevation component?

ie.
[code]

That way it's easier to configure with a variable:

[code]

And it's also easier to understand. From an API standpoint, having one boolean attribute per `z` is a little weird because it suggests that you can set  multiple `z`s on the same component. You don't want people to think you can use this compo

[2017-04-13 09:50] prateekbh commented on #72
This'll be a part of 1.0 launch, if you wish feel free to assign this t yourself and raise a PR.
Else I'll take it up before launch

[2017-04-13 16:21] #28 closed

[2017-04-13 16:35] prateekbh commented on #18
PR #73 fixes this

[2017-04-13 16:35] #18 closed

[2017-04-14 06:11] prateekbh opened #76 "Update gh-pages"
1. z prop for elevation
2. grid-layout
3. new List Items(Divider, Icon, Avatar)
4. basic select component

[2017-04-16 17:06] laggingreflex opened #78 "Using Select with dynamic props causes issues"
I'm pretty new to material so please let me know if I'm supposed to do things some other way.

`Select` component has a "hintText" which is rendered like this:

[code]

When you choose "Option 1" it re-renders the component replacing the span element where "hintText" originally was, with "Option 1".

[code]

But this causes problems because in my app when I select Option 1 it changes state and tri

[2017-04-17 02:26] prateekbh commented on #78
can you paste your preact code for your `render` function here ?

[2017-04-17 04:38] prateekbh opened #79 "proxy selectedIndex from Select component"
there is no way to a selectedIndex without a `componentDidUpdate` right now, which is literally extra code for devs.

Build a proxy prop, which does it for them.

[2017-04-17 04:39] prateekbh commented on #78
Agreed I see the issue here,
opened #79 for this one. will release with stable. Mostly this week.

[2017-04-18 10:48] prateekbh commented on #72
merged in master, right now both ways will work. removing earlier method from documentation and will remove gradually

[2017-04-18 10:48] prateekbh commented on #79
merged in master, will release soon

[2017-04-18 10:48] #79 closed

[2017-04-18 10:48] #72 closed

[2017-04-18 10:50] #21 closed

[2017-04-20 12:20] prateekbh opened #84 "update to MDC 0.9.0"
update the dependency to mdc-web 0.9.0 and make changes to existing components according to this changelog

https://github.com/material-components/material-components-web/blob/master/CHANGELOG.md

[2017-04-20 13:48] prateekbh commented on #76
1 3 and 4 r done

[2017-04-20 13:49] prateekbh commented on #78
@laggingreflex  1.0.0-beta.1 is released please try that out.
An example in the demo site is also included.
Sorry for delay

[2017-04-20 13:49] #78 closed

[2017-04-20 13:51] prateekbh commented on #76
@IrregularShed will you be able to add a documentation page in `gh-pages` branch?
tak e look at other pages component it is pretty straight forward.

[2017-04-20 13:59] IrregularShed commented on #76
Yep, will do. I've been away for the past five days, otherwise I'd have already started :)

[2017-04-20 14:02] prateekbh commented on #76
no probs, just trying to triage the issues to launch a stable.
Actually Stable is pushed a little with the release of mdc-web 0.9.0 and I am stuck in some talk and workshops to be delivered.

[2017-04-21 06:27] appsforartists opened #85 "Switches don't detect mouse clicks near top"
I can't click the Dark Mode switch on the Chromebook Pixel; but I can tap it.  Most likely, someone is doing something like `TouchEvent in document ? addEventListener('touchdown') : addEventListener('click')`

Not sure if this is a bug for you here or @traviskaufman on mdc-web.

[2017-04-23 15:17] prateekbh commented on #84
published with 1.0.0-beta.2

[2017-04-23 15:17] prateekbh commented on #84
published with 1.0.0-beta.2

[2017-04-23 15:17] #84 closed

[2017-04-23 15:19] prateekbh commented on #66
once #76 is completed, we are good to launch a stable

[2017-04-25 02:43] prateekbh commented on #85
@appsforartists  Can you check if its working here
http://material-components-web.appspot.com/switch.html

[2017-04-25 05:55] prateekbh commented on #76
Thanks @IrregularShed, I guess we're good to come out of beta now

[2017-04-25 05:55] #76 closed

[2017-04-25 06:06] prateekbh commented on #66
#95 will launch first stable

[2017-04-25 12:24] prateekbh commented on #66
1.0.0 is launched

[2017-04-25 12:24] #66 closed

[2017-04-25 12:55] #33 closed

[2017-04-25 12:56] #3 closed

[2017-04-25 14:44] appsforartists commented on #85
On both that page and on the Dark Mode slider on the docs page, the switches toggle if I click near the bottom of the track, but not if I click near the top.

(Additionally, my cursor turns into a pointer over some regions of the disabled switches, although it probably shouldn't.)

[2017-04-26 12:25] IrregularShed commented on #85
@appsforartists It looks as if this is a bug in mdc-web - sorry @traviskaufman. I'm seeing the same behaviour (pointer becoming a cursor) on MS Edge and Chrome for Windows.

The implementation is purely (S)CSS applied to a checkbox and a pair of decorative divs to provide the background and the slider image, and Preact Material Components is just creating the markup to match the spec here: https:/

[2017-04-27 10:29] IrregularShed opened #100 "Question about webpack/babel config"
I've started replacing the components in a project that were based on preact-mdl with preact-material-components (which is why I got involved in the first place!) but I've hit a snag when I'm getting webpack to build the project and, after a few hours of trying everything I can think of, I'm no closer to figuring out what's going on.

The project is based on preact-boilerplate and I've followed th

[2017-04-27 11:19] prateekbh commented on #100
try updating to 1.0.2 version

[2017-04-27 12:08] prateekbh commented on #100
fixed with a release, thanks for pointing out

[2017-04-27 12:08] #100 closed

[2017-04-29 00:39] ForsakenHarmony opened #104 "Fullwidth prop on textfield doesn't do anything"
adding `fullwidth` / `fullwidth={true}` doesn't do anything

[2017-04-29 00:45] ForsakenHarmony commented on #104
wait, nvm it works now, but the styles still seem broken

[2017-04-29 00:46] #104 closed

[2017-04-29 05:05] prateekbh commented on #104
@forsakenharmony is anything still broken?
Asking because u closed the issue

[2017-04-29 10:50] mikaturk opened #105 "Icon component doesn't work with preact-boilerplate"
Hey,

I've been trying out preact-material-components along with preact-boilerplate but things aren't going so smoothly, I get this error when trying to use certain components (Icon being one of the many, they all give the same error)

[code]

[2017-04-29 12:11] prateekbh commented on #105
Hey, can you post me your webpack's css config?

[2017-04-29 12:28] mikaturk commented on #105
https://github.com/developit/preact-boilerplate/blob/master/webpack.config.babel.js
It's the bone stock one from preact-boilerplate

[2017-04-29 12:46] prateekbh commented on #105
Cool will take a look

[2017-04-29 20:52] ForsakenHarmony commented on #104
no, I think that was a problem with hot reload

the styles are a problem with `material-components-web` itself

[2017-05-01 13:14] mikaturk commented on #105
Hey, have you found the problem?

[2017-05-01 18:34] prateekbh commented on #105
@mikaturk, will post it tomorrow morning.
Was off to some errands today

[2017-05-01 19:15] mikaturk commented on #105
Ah nice, thanks 😄

[2017-05-01 21:39] greenkeeper[bot] opened #108 "An in-range update of babel-plugin-transform-react-remove-prop-types is breaking the build 🚨"
## Version **0.4.4** of [babel-plugin-transform-react-remove-prop-types](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/prateekbh/preact-material-components/compare/greenkeeper%2Fbabel-plugin-transform-react-remove-prop-types-0.4.4">Build failing 🚨</a>
    </

[2017-05-02 05:23] prateekbh commented on #105
hey!
I am building `preact-material-boilerplate` from the same repo. And fixed your issue for it.
For the same take a look at this commit
https://github.com/prateekbh/preact-material-boilerplate/commit/cc3b950d804f35e2bdfef1b5083b7163f2b74e17?diff=split

or if you wanna look at the final thing here's the delta

https://github.com/prateekbh/preact-material-boilerplate/commit/cc3b950d804f35e2bdfef1b

[2017-05-02 10:46] mikaturk commented on #105
Ah ok, thanks 😄
After copying the new file into my project, it gives this error:
[code]

[2017-05-02 11:14] prateekbh commented on #105
umm... although i didn't change any of that...

can you check what is your webpack's version in node_modules?

[2017-05-02 11:16] mikaturk commented on #105
Aha, my dependencies were horribly outdated, copied the new ones from your package.json and it's all good, thanks so much for all the help man 👍

[2017-05-02 11:20] prateekbh commented on #105
@mikaturk  no probs 👍.
Closing this issue, feel free to re-open if you feel like

[2017-05-02 11:20] #105 closed

[2017-05-02 11:30] mikaturk commented on #105
update: cloned your new repository since I didn't change much and want maximum compatibility 😄

[2017-05-02 12:16] prateekbh commented on #105
fyi... i just started it, will make it better soon.

[2017-05-03 12:00] #108 closed

[2017-05-03 12:01] #70 closed

[2017-05-03 12:10] prateekbh opened #110 "Implement Persistent and Slidable Drawers"
Current Set does not contain the above said 2 types of drawers. We would want them to be present

[2017-05-03 12:11] prateekbh opened #111 "Implement Drawers events declaratively for devs"
Drawers have started sending events of open/close but is imperative.
Need to wrap them in a declarative manner just like for Select

[2017-05-04 05:16] prateekbh commented on #111
done

[2017-05-04 05:16] #111 closed

[2017-05-19 06:43] prateekbh commented on #110
published with 1.0.6

[2017-05-19 06:43] #110 closed

[2017-05-22 22:28] lukeed opened #121 "Menu trigger"
New additions are fantastic!

I noticed a slight bug on the [Menu Demo](https://prateekbh.github.io/preact-material-components/#/component/menu). If you click **only** the trigger repeatedly:

1. Open
2. Close
3. Nothing
4. Nothing
5. ...

The "closed" state only resets if you click on a `MenuItem` or `document.body`. I'd expect the menu to toggle states on every click.

I'm not sure if this is pe

[2017-05-23 04:37] ooade opened #123 "Add Theming support on README"
It would be nice to let users know that they can change the look of things around. I don't know but I think it's one of the main reasons MDC succeeded over MDL. [Here](https://github.com/material-components/material-components-web/blob/master/docs/theming.md)'s how to go about [themeing](https://github.com/material-components/material-components-web/blob/master/docs/theming.md).

[2017-05-23 04:45] prateekbh commented on #121
fixed and published to the docs site 😃

[2017-05-23 04:45] #121 closed

[2017-05-23 04:51] lukeed commented on #121
Amazing! 🎉

[2017-05-23 09:37] cedric-marcone opened #125 "FormField vs Formfield"
Hello,

As seen in https://github.com/developit/preact-cli/issues/42, there's a small inconsistency in the documentation regarding the Formfield component.

In the documentation, it's always imported the following way :
[code]

But, with preact-cli, we need to import it from the global exports :
[code]

The thing is that it's error prone as it's advertized as "FormField" but it's exported as "Form

[2017-05-23 10:09] prateekbh commented on #125
Hey, thanks for using `preact-material-components`!!!
It turns out this was a silly typo in docs only and worked with me because Mac 😛 .

I have updated the docs, hope it doesn't cause much inconvenience  to you.

[2017-05-23 10:09] #125 closed

[2017-05-23 13:27] cedric-marcone opened #128 "Select onChange handler"
Hello again,

Would you mind adding selectedOptions and selectedIndex when calling the event handler ?

[code]

It could let us write more generic code, without ```refs```tricks ;)

[code]

[2017-05-23 13:33] cedric-marcone opened #129 "HMR and event handlers"
Hey ! ...me again :)

In https://github.com/developit/preact-cli HMR is active and it doesn't play well with the event handlers you're binding.

I think the reason is you're attaching them in ```componentDidMount``` but they are never cleared in ```componentWillUnmount```.

Do you accept PRs ?

[2017-05-23 13:35] prateekbh commented on #128
Hey! Its a pretty easy thing to be done. What prevents me from doing that in first place is that I wanted to keep this as opinion-less and transparent as I can. so whatever event `material-components-web`(which is nothing as of now) fires gets triggered in `preact-material-components`. Do you think it'll be better to open an issue [here](https://github.com/material-components/material-components-w

[2017-05-23 13:36] prateekbh commented on #129
yes I love PRs... please feel free to go ahead and open one

[2017-05-23 13:47] cedric-marcone commented on #128
I understand your concern but, I think ```material-design-components``` natural way of querying the DOM to find what was selected doesn't sound correct in (p)react : using refs to do the same seems fragile.
Not firing an event with target values (or index) seems like a design decision on their part which could lead to lengthy discussions :)

[2017-05-23 13:55] prateekbh commented on #128
OK, how about this. preactMaterialComponent can yield the index, since that should be available in MDComponent. But i am not sure if there is anything apart from this that i can pass in as `values`(as suggested in above example by you).

[2017-05-23 15:24] cedric-marcone commented on #128
MDComponent seems to have the following  properties :
- selectedIndex containing the last selected index
- selectedOptions containing the array of items selected (since it can be a multiple selection)

That's why I proposed to emit both properties :)

But, I understand your concern : we don't have any abstractions to dynamically extract values or labels.

That's why it should be the developer resp

[2017-05-23 15:33] cedric-marcone commented on #129
Hmm, I'm banging my head on this one !! :)
Even when I "unlisten" the event handler in componentWillUnmount it continues to be called once per reload via HMR...
I'll continue to investigate tonight and if I fail miserably I'll commit my changes in the fork tomorrow morning.

If you have the opportunity to review it and give me some insight, I'll be grateful :)

I keep you updated.

[2017-05-23 17:08] cedric-marcone commented on #129
OK, I really don't know what's going on here, I'm way too noob on preact / HMR...
Could you take a look at https://github.com/cedric-marcone/preact-material-components/commit/96a2f0dc59907f4edc1df94d761b912aa89f07d7 and tell me what you think ?
Nothing big going on there, but it really doesn't work : every time I update the code of a  component displaying a ```Select``` an onChange handler is adde

[2017-05-23 17:24] prateekbh commented on #129
Ha no probs, i'll take in the morning

[2017-05-23 17:52] prateekbh commented on #129
@cedric-marcone can u do me a favor... Can u set up hmr in a separate repo for me.
And add the instructions to run hmr in readme?

[2017-05-23 21:27] staydecent opened #131 "Where are the docs located?"
I noticed a typo or two I was hoping to PR for.

Also, I can't for the life of me figure out how to get the floating labels working with the text field. Passing `label='something'` does nothing on my `<Textinput ... />`.

Was hoping to look at the unbuilt source for the examples to see how it was done.

[2017-05-24 02:38] prateekbh commented on #131
Hi!
can you please try and tell if this does not work

[code]

[2017-05-24 02:39] prateekbh commented on #131
Also the docs are here: prateekbh.github.io/preact-material-components/

[2017-05-24 06:22] prateekbh commented on #128
will try to fix this soon

[2017-05-24 06:27] prateekbh commented on #123
Hi! thanks for the suggestion, do you think we should add a link in readme to this file or a small writeup about the same would with the link included would make more sense?

[2017-05-24 06:37] cedric-marcone commented on #129
Here it is :
https://github.com/cedric-marcone/preact-material-components-test

To setup HMR I didn't do anything more than using preact-cli, the interesting piece is in ```routes/home/index.js```

The README explains how to reproduce the bug.

[2017-05-24 06:40] prateekbh commented on #129
thanks will look into it

[2017-05-24 07:52] ooade commented on #123
Writing a small writeup with the link included is better :muscle:
But, adding an example will be a lot better tho :sweat_smile:
## WDYT?

[2017-05-24 08:54] prateekbh commented on #129
ok cool had a look, so its not about `unlisten` as the root element itself gets destroyed. But the MDCComponent itself gets initialized multiple times and thus emitting multiple events.
Just in case if you wanna PR this, on the eaxct same place you called `unlisten` you need to replace the line to
[code]
and this should fix it for you

[2017-05-24 12:42] cedric-marcone commented on #129
Of course !! That makes sense.
I prepare a PR.
Thanks a lot.

[2017-05-24 14:37] cedric-marcone commented on #131
You can find the docs on the ```gh-pages```branch.
Take a look over there :
https://github.com/prateekbh/preact-material-components/tree/gh-pages

[2017-05-25 14:18] cedric-marcone opened #134 "Component/index.js commited"
Hey, I don't know why but, when I build the project all the index.js files are different from those in the repo, even if I didn't touch the matching jsx file.

The two main differences are :
1. The _extends function which is a generated as a one liner on my machine.
2. The call to _extends which is not indented the same way.

As these files are in the git repo I can't just commit my changes withou

[2017-05-25 14:42] prateekbh commented on #134
Ahhh sry, thats a pending task on me, you can commit them. Prettier will take care of them

[2017-05-26 05:44] #128 closed

[2017-05-26 05:49] prateekbh commented on #134
@cedric-marcone you can commit these changes for now, a new version of prettier is expected, after which prettier can be run after webpack and you wont see this.

The new version basically allows you to skip node modules, which might take a little too long if I added them now.

[2017-05-26 07:32] cedric-marcone commented on #134
Thanks, I definitely  thought ```Prettier``` would be involved in your answer ;)

[2017-05-26 07:37] #134 closed

[2017-05-26 08:42] cedric-marcone commented on #129
Thanks for the merge !

[2017-05-26 08:42] #129 closed

[2017-05-26 08:49] prateekbh commented on #129
Cheers! will release ASAP

[2017-05-26 08:51] prateekbh commented on #131
@staydecent were you able to find the docs/ resolve your error?

[2017-05-26 15:34] staydecent commented on #131
Yup found the source of the docs. Thanks! I'm deep in a client project
right now and will need a week before I can test out getting the floating
labels to work.

Appreciate the work on this! Look forward to replacing my usage of MDL with
it soon.

On May 26, 2017 01:51, "Prateek Bhatnagar" <notifications@github.com> wrote:

[2017-05-29 05:12] prateekbh commented on #129
@cedric-marcone hey! I just released the new version.
can you please verify if this works for you

[2017-05-29 07:13] cedric-marcone commented on #129
I updated the test project (https://github.com/cedric-marcone/preact-material-components-test) to reflect changes in #129 and #128.
=> It works perfectly, thanks for your commitment.

[2017-05-29 13:35] Holi0317 opened #137 "Should we use named export instead of default export?"
Currently, some components like List component need to export more than one components in its package. This make the whole package use a [commonJS way](https://github.com/prateekbh/preact-material-components/blob/3f7c1a884c517363d894d8aaafb658642979b81d/List/List.jsx#L170-L179) to export components. This is not ideal as consumers need to use ugly syntax like `<List.Item />` to consume components.

[2017-05-29 16:19] prateekbh commented on #123
I guess this is awesome,
Since the base theme of docs are already there, I am expecting if someone can take this up and PR. However if not i'll take this up in some days. Just running a lil bz with some project

[2017-05-31 04:52] prateekbh commented on #137
hi! thanks for trying `#PreactMaterialComponents`.
So the answer to your question is two fold.
1. even if we do the suggested webpack is unable to treeshake completely. (https://github.com/webpack/webpack/issues/2867)
2. imagine a scenario where you are importing menu and select both and both of them export `{Item}`. In that case the current set will do a name clash.

Though both of the above can

[2017-05-31 04:53] prateekbh commented on #85
@appsforartists  can you please open the same in `mdc-web`.

[2017-05-31 04:53] #85 closed

[2017-05-31 21:36] paulinhapenedo opened #140 "Drawer Component"
Hello!

I've been having some problems with the Drawer component. I want to keep the Drawer component always open, so I thought of using the PermanentDrawer ou even the PersistentDrawer, but none seem to work properly.

Is there a way to keep the Drawer component always open? Some props, maybe?

Thanks!

[2017-06-01 04:33] prateekbh commented on #140
Hi!
can you give a little description of what form factor(mobile/desktop/tab) are you testing on?
Also what is not working properly? are your drawers getting closed or does it appear broken?

btw `PermanentDrawer` should be thing to be used here

[2017-06-01 05:19] prateekbh opened #141 "Upgrade to mdc 0.12.1"
- [x] Add `linear-progress`
- [x] Check for changes in  `snackbar`
- [ ] Implement `tabs` scrollbar
- [ ] Auto upgrade floating label with default value

[2017-06-03 01:49] usulix opened #144 "Less compilation error"
[code]

Points me to trying to find the correct css processing configuration for webpack
Currently I have
[code]

and the strictMath: true appears to be required to get through a different portion of the css

[code]

I was moving along well.. until this keyword.toLowerCase error popped up.

and it seems to be the inability of the webpack config I have to get a value from

`var(--mdc-theme-primary,

[2017-06-03 04:22] prateekbh commented on #144
Hi @usulix!
I honestly haven't worked with `less` for a ong long time. I had similar issues with `pre-css` because of `postcss-custom-properties`.

I don't exactly know from what breaks in `less` from the top of my head, but if there is a repo where i can peep into i'll for sure give it a look.

[2017-06-03 19:30] usulix commented on #144
Thanks prateekbh and I appreciate the response..
I will look into postcss-custom-properties and see if that give me any extra info on my issue.

Regards,
Greg

[2017-06-04 23:35] kbrownhbs opened #145 "What is proper way to set an initial value on TextField component?"
The component does not have setter for initial input value.

Setting input via javascript DOM manipulation works but  the floating label does not float to the top.  Inspecting the input I see that "mdc-textfield--upgraded" would need to be added to the containing div to make DOM manipulation work.

However it would probably be better to add a setter of initial value directly on TextField component

[2017-06-05 02:09] prateekbh commented on #145
hi!
For setting the input value please use `value='test here'` as it directly applies to the input.

As far as floating label is concerned, it is a valid bug, will fix it in the next update.

[2017-06-05 03:34] kbrownhbs commented on #145
Thanks for the quick response...I tried setting value as well.  Had the
same issue.  The issue may have something to do with the shadow dom.

On Sun, Jun 4, 2017 at 10:09 PM, Prateek Bhatnagar <notifications@github.com

[2017-06-05 03:44] prateekbh commented on #145
@kbrownhbs are you using any form of web components?
cuz `react-material-components` does not have anything to do with shadow dom.

[2017-06-05 06:07] kbrownhbs commented on #145
No I'm not using web components.  Just saw something in Chrome dev tools that led me to think shadow was being used by your components...my prior statement was likely inaccurate, as I don't know much about web components.

![image](https://cloud.githubusercontent.com/assets/3537923/26772470/9def83ce-4993-11e7-9cba-d7515f0d1497.png)

[2017-06-05 06:22] #141 closed

[2017-06-05 06:22] #145 closed

[2017-06-06 12:16] kbrownhbs commented on #145
Thanks a lot...will you be updating NPM shortly with a new release?

On Mon, Jun 5, 2017 at 2:22 AM, Prateek Bhatnagar <notifications@github.com>
wrote:

[2017-06-06 13:50] prateekbh commented on #145
yeah will do it in a day or two...

[2017-06-07 13:44] ooade commented on #123
@prateekbh I've bin a little busy with school these days. Is there any way to test things around this repo?

[2017-06-07 13:47] prateekbh commented on #123
there is a folder named sample

[2017-06-07 13:53] ooade commented on #123
Okay :)

[2017-06-07 14:25] kbrownhbs commented on #145
Verified linear progress addressed #145.

Your fix worked like a charm.  Thanks!

[2017-06-07 14:28] prateekbh commented on #145
just released the new package 😄
thanks for using `preact-material-component`

[2017-06-09 20:56] kbrownhbs opened #147 "Class undefined in Textfield component"
I notice there is an "undefined" class in Textfield.  I don't know if this was intentional.  Please first line below.

![image](https://user-images.githubusercontent.com/3537923/26994155-6c3550c6-4d34-11e7-914c-d64c740542d7.png)

[2017-06-14 04:28] prateekbh opened #148 "Implement icon-toggle"
component `icon-toggle` is missing from this repo and needs to be implemented in the same manner as the rest of the components

[2017-06-16 18:10] ethanroday opened #150 "Build errors out-of-the-box with Webpack 2 and UglifyJS"
Steps to reproduce:
1. Create a new app using `preact-cli`
2. Run `npm i -D preact-material-components`
3. Add `import Button from 'preact-material-components/Button';` in `src/app.js`
4. Run `npm run build`

Result:

    bundle.js from UglifyJs
    Unexpected token: name (Button) [bundle.js:553,6]

This issue (or similar ones) can also be reproduced in both [preact-boilerplate](https://github.com

[2017-06-16 18:36] prateekbh commented on #150
@ethanroday look out for https://github.com/developit/preact-cli/pull/117
It fixes your above said problem

[2017-06-16 20:07] ethanroday commented on #150
Will do. For now, though, turns out that I needed to add the following folders to the Babel loader:
- `/node_modules/preact-material-components`
- `/node_modules/@material`
- `/node_modules/material-web-components`
Thanks for the quick reply.

[2017-06-16 20:08] #150 closed

[2017-06-19 04:57] greenkeeper[bot] opened #153 "An in-range update of babel-plugin-transform-react-remove-prop-types is breaking the build 🚨"
## Version **0.4.5** of [babel-plugin-transform-react-remove-prop-types](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/prateekbh/preact-material-components/compare/greenkeeper%2Fbabel-plugin-transform-react-remove-prop-types-0.4.5">Build failing 🚨</a>
    </

[2017-06-19 05:14] #153 closed

[2017-06-21 18:46] ethanroday opened #156 "Drawers: PermanentDrawer not properly named"
`<Drawer.PermanentDrawer>` is actually getting rendered as `mdc-persistent-drawer`. Looks like it may be a bug here:
https://github.com/prateekbh/preact-material-components/blob/master/Drawer/Drawer.jsx#L210

[2017-06-21 18:47] prateekbh commented on #156
woops sry for that, do you wanna PR, else I'll do it ASAP

[2017-06-21 21:19] ethanroday commented on #156
#157

[2017-06-21 21:19] #156 closed

[2017-06-25 15:35] MobiusHorizons opened #160 "Add Slider component"
Consider adding the mdc-slider https://github.com/material-components/material-components-web/tree/master/packages/mdc-slider

[2017-06-28 11:29] keemor opened #165 "Select: default first option and too small width"
In this example https://prateekbh.github.io/preact-material-components/#/component/select
First minor thing is missing closing `</div>`

I think select should get the width of hintText, because now  you'll see only 'Sele'.
Setting width via `<Select width={{width: 200}} >` does not work

Another thing is how to set first option by default.

The only way I figured out is:

[code]
To set chosenIndex

[2017-06-30 05:54] prateekbh commented on #165
Hi, thanks for trying out `preact-material-components`
I am in process of fixing the `div`, great catch thanks :)

As far as the width is concerned, i guess mdc-web(https://github.com/material-components/material-components-web/tree/master/packages/mdc-select) repo would be a better place to open this

And I just checked for the selectedIndex problem the following is working for me, can you please

[2017-06-30 06:00] #160 closed

[2017-06-30 06:23] prateekbh commented on #140
hey @paulinhapenedo , there has been a recent bug fix for persistent drawer, can you please update and try the same now.

Please reopen if this seems to still not work for you.

[2017-06-30 06:23] #140 closed

[2017-06-30 06:24] prateekbh commented on #131
closing this, please re-open if you have any further questions

[2017-06-30 06:24] #131 closed

[2017-06-30 09:09] keemor commented on #165
Hi,
selectedIndex={1} sets 2nd option, not 1st one:
https://www.webpackbin.com/bins/-KnsE8LI4taX5ejSjmeS

[2017-06-30 09:10] prateekbh commented on #165
yes because it starts form 0

[2017-06-30 09:11] keemor commented on #165
selectedIndex={0} doesn't work

[2017-06-30 09:13] prateekbh commented on #165
this i can check 👍 , will revert in a while

[2017-06-30 10:44] prateekbh commented on #165
please update and check, you will be able to do it now :)

[2017-06-30 12:02] keemor commented on #165
Works :+1:  Thanks

[2017-06-30 12:39] #165 closed

[2017-07-04 12:50] jcsmesquita commented on #147
I think this is the `mdc-textfield__label--float-above` class that is not being injected properly and causes the label to remain even after an input value is typed.

[2017-07-12 10:33] #148 closed

[2017-07-16 16:29] fantasia949 opened #176 "Support link button?"
Based on the demo of the mdc site: https://material-components-web.appspot.com/button.html, a link can be decorated as a button. Could you add a `href `attribute to make` <Button />` become link button when needed?

[2017-07-17 13:41] thibaultsavary opened #177 "Feature request: List.LinkItem should extends Link (preact-router)"
When navigating using
[code]
[code]
**The whole app is rendered again.**

When navigating using
[code]
[code]
**Routing works as expected for a SPA**

Would it be possible to either extends the `Link` component from `preact-router` or provide the same behavior when navigating, as well as the `activeClassName` for `List.LinkItem` as well as the other link components if there are others  ?

[2017-07-21 22:06] MobiusHorizons opened #179 "IconToggle should have `onChange` handler wired up."
The IconToggle component currently can have it's state set, and will update on it's own. However for real use in a preact app, it will need to expose the `MDCIconToggle:change` event as an `onChange` event.

[2017-07-22 16:41] filoozom opened #182 "Card.Media should be an image in some cases"
On the [material components demo](https://material-components-web.appspot.com/card.html), the media is often and ```<img>``` and not a ```<section>``` or ```<div>``` with a ```background```. This is useful for layouts using ```Card.HorizontalBlock``` (#181).

I think it would be nice if we could make ```Card.Media``` an ```<img>``` if we pass a ```src``` to it and keep it as a ```<section>``` if t

[2017-07-23 00:38] filoozom commented on #147
@prateekbh could you tell me why you used ```className={className + ""}``` instead of just ```className={className}``` in multiple components including ```Textfield```? I don't really understand in which case it we be useful to cast this variable to a string. Assigning ```undefined``` or ```null``` works without any problems and I don't see why someone would pass an object. Am I missing something?

[2017-07-23 07:18] prateekbh commented on #147
@filoozom its a legit bug, I was doing some other concatenation, and forgot to clean it. feel free to remove it and send a PR

[2017-07-23 13:37] filoozom commented on #182
Actually, I guess i should be a ```Card.MediaItem``` and not a ```Card.Media``` because the class should be ```mdc-card__media-item``` and not just ```mdc-card__media```.

[2017-07-23 19:38] filoozom opened #188 "Improve Textfield component"
The ```Textfield``` component is missing a lot of features. For reference, [this is the GitHub documentation](https://github.com/material-components/material-components-web/tree/master/packages/mdc-textfield).

Missing features include:
- [ ] ```mdc-textfield--disabled``` class on disabled fields
- [ ] Dense
- [ ] Helper text (that can be persistent or not)
- [ ] The label is only floating when a

[2017-07-24 02:32] #147 closed

[2017-07-24 02:41] #182 closed

[2017-07-24 14:55] #176 closed

[2017-07-24 15:39] filoozom commented on #177
Should this really be included in this repo though? Preact can also be used with other routers, and this package doesn't depend on ```preact-router```, so I think it might be better to just use ```onClick``` or extend the component yourself?

[2017-07-24 16:19] thibaultsavary commented on #177
I agree with the separation concern.

However, because the `List.LinkItem` is semantically a link it should support navigation in a SPA, or not exist at all if it doesn't bring anything more than an `List.Item`.

I proposed to either directly re-implement preact-router `Link` behavior (not a fan of this idea)
or
Make this package depend on `preact-router`, but as you said, there may be people usin

[2017-07-24 16:34] filoozom commented on #177
And wouldn't something like:
[code]
do the trick?

[2017-07-24 16:36] thibaultsavary commented on #177
Yep that's almost exactly what I ended up with after reading `preact-router` implementation.

[2017-07-24 16:46] filoozom commented on #177
Right, but shouldn't that be enough then? You can fairly easily plug in any router you want without the library depending on it. Maybe we could add this example to the documentation, but I don't quite think that this belongs in this package.

[2017-07-25 04:27] prateekbh commented on #177
I kinda agree with @filoozom because more prople use `react-router` than `preact-router`.

The best part with this is you can put and href and prevent event's default and still call
[code]

[2017-07-26 15:48] ethanroday opened #193 "Dialog appears to be broken"
The dialog examples at https://prateekbh.github.io/preact-material-components/#/component/dialog don't seem to be working (on Chrome 59 and Windows).
Similarly, copying and pasting the demo code into my own preact app doesn't work.

[2017-07-26 16:28] prateekbh commented on #193
will look into it asap

[2017-07-26 17:46] #193 closed

[2017-07-26 17:46] prateekbh commented on #193
@ethanroday please update, a new version has been just published

[2017-07-27 06:00] filoozom opened #195 "Add testing"
The library should contain a testing framework to make sure that all components are rendered correctly and exactly like ```material-components-web```.

[2017-07-27 06:02] prateekbh commented on #195
there's a project called `preact-render-spy`. WDYT?

[2017-07-27 10:26] filoozom commented on #195
Looks nice, will see if I can make something happen. Won't have time for the next few weeks though, so maybe later.

[2017-07-28 04:16] #188 closed

[2017-07-30 20:30] plusCubed opened #200 "Merge 3 types of drawers into 1 component"
Because all 3 types (permanent, persistent, and temporary) have the [same base CSS](https://github.com/material-components/material-components-web/blob/master/packages/mdc-drawer/_mixins.scss), I think it would make sense to have 1 drawer component. This makes for a cleaner public API, but may complicate things internally (as the parent will have to pass down the drawer type).

e.g. Using it would

[2017-07-31 01:47] prateekbh commented on #200
This might have similarity now, but any change from `mdc-web` would make it really tough to keep this going. Hence keeping it the way it is now would be the best approach

[2017-07-31 01:47] #200 closed

[2017-07-31 14:54] prateekbh opened #202 "Breaks on IE 11"
need more info here

[2017-07-31 17:27] filoozom commented on #202
Did you get to try it? Saw it on Twitter but you didn't have your computer on hand.

[2017-07-31 17:51] #179 closed

[2017-07-31 17:56] prateekbh commented on #202
Yeah tried babel need a fix there a object.assign somewhere in the final code

[2017-08-01 13:31] fantasia949 opened #206 "Declaration of IconToggle's disabled state"
It seems `<IconToggle>` cannot be in disabled state at initial phase
Neither of these ways works
[code]

[2017-08-01 13:34] prateekbh commented on #206
try this 👇
[code]

[2017-08-01 14:08] prateekbh commented on #206
so we delegate only events and possible class name mutations to props.
If you think this can/should be handled in class name, `mdc-web` is the right place to open the bug.

[2017-08-01 14:08] #206 closed

[2017-08-01 19:16] ethanroday commented on #193
Looking good! Thanks.

[2017-08-08 05:59] bangive opened #211 "Drawer and Toolbar not working"
I setup the drawer and toolbar follow tutorial here https://prateekbh.github.io/preact-material-components
It's not working for me like this screenshot

![drawer-error](https://user-images.githubusercontent.com/11285347/29058189-43f4d620-7c39-11e7-8caf-86e72ff7f519.png)

[2017-08-08 06:02] prateekbh commented on #211
is it about the icons?
also have u added the stylesheet for the icons?

[2017-08-08 06:07] bangive commented on #211
i click on the text menu but it does not show drawer, the icon is not working as screenshot

[2017-08-08 06:07] bangive commented on #211
it seem drawer button is hidden

[2017-08-08 06:13] prateekbh commented on #211
is it live anywhere?

[2017-08-08 06:13] prateekbh commented on #211
or just code anywhere?

[2017-08-08 06:17] bangive commented on #211
i will upload it to firebaseapp now

[2017-08-08 06:29] bangive commented on #211
you can access it online here https://1802d6f4.ngrok.io

[2017-08-08 06:31] prateekbh commented on #211
<img width="671" alt="screen shot 2017-08-08 at 12 01 03 pm" src="https://user-images.githubusercontent.com/5960497/29059052-4de82676-7c31-11e7-8bfb-f591084b5f32.png">

[2017-08-08 06:33] bangive commented on #211
So what does error say. I don't know whats the problem

[2017-08-08 06:34] prateekbh commented on #211
I guess you haven't transpiled your code to some es5 or a lower lever es6

[2017-08-08 06:36] bangive commented on #211
so what to do now

[2017-08-08 06:37] prateekbh commented on #211
are you using webpack/gulp or anything?

[2017-08-08 06:38] prateekbh commented on #211
or are you using `preact-cli`?

[2017-08-08 06:38] bangive commented on #211
i use preact-cli

[2017-08-08 06:40] prateekbh commented on #211
run ```preact build```

and then redeploy the `public` folder

[2017-08-08 06:41] bangive commented on #211
you can access it now

[2017-08-08 06:46] prateekbh commented on #211
a. add this in head
[code]

b. can you show me the code for this screen

[2017-08-08 06:48] bangive commented on #211
this is Header component
[code]

[2017-08-08 06:50] prateekbh commented on #211
oh yeah, this just build the UI of the toolbar, you'll need to add code to open/close,
check this
https://github.com/prateekbh/preact-material-components/blob/gh-pages/src/Components/Home/Home.jsx#L81

[2017-08-08 06:52] bangive commented on #211
i am checking it

[2017-08-08 06:58] bangive commented on #211
thank you for your help

[2017-08-08 07:00] #211 closed

[2017-08-08 09:35] keemor commented on #202
Hi,

Bug looks like this in the IE11 console:
`
SCRIPT1002: Syntax error
File: bundle.js, Line: 4341, Column: 1

4341: class Card extends __WEBPACK_IMPORTED_MODULE_1__MaterialComponent__["a" /* default */] {
  constructor() {
    super();
    this.componentName = "card";
    this._mdcProps = ["theme-dark"];
  }
}
`

Also Uglify reports problem with the same area:
`
ERROR in bundle.js from UglifyJs

[2017-08-08 14:15] bangive opened #213 "Missing css class when build"
Run fine when use command preact watch. But when use preact build it miss the class ```"mdc-temporary-drawer mdc-typography"``` and ```"material-icons mdc-toolbar__icon--menu"```. So for the UI to work, i must add thoes class manually like this:
[code]

[2017-08-09 14:28] IrregularShed opened #214 "Layout Grid changed upstream (for info)"
I've noticed that the Layout Grid in Material Components has changed. Previously it always gave 12 columns regardless of the screen size but now it's 12 in desktop, 8 in tablet and 4 in phone sizes.

When I get a chance I'll revisit the Layout Grid component and its documentation to bring this into step. Right now I've got a client breathing down my neck, an injured wife and a bored son so it may

[2017-08-09 14:40] prateekbh commented on #214
Hope things get better for you soon... I'll try to fix this soon

[2017-08-09 18:37] #177 closed

[2017-08-09 22:45] filoozom commented on #213
Confirmed, ```mdc-${componentName}``` is never added when using ```npm run build```.

[2017-08-09 23:01] filoozom commented on #202
Works on IE 11 with ```preact-cli```, so I guess this must be a babel / webpack issue on ```gh-pages```?

[2017-08-10 01:09] prateekbh commented on #213
Is this only for this components?

[2017-08-10 04:46] prateekbh commented on #214
can you point me to some more details, i am unable to find this change in the change log

[2017-08-10 11:50] filoozom commented on #213
It's for every component as far as I can tell, but the HTML actually includes the classes. I guess they're just somehow removed with JS after. It works when using ```element.attributes.className = this.getClassName(element);``` instead of ```element.attributes.class = this.getClassName(element);``` in ```MaterialComponent.js```.

Any reason why ```class``` was used instead of ```className``` there

[2017-08-10 12:36] keemor commented on #202
I was trying to compare preact-cli configuration with my project, but I didn't find what makes a difference.
My:

.babelrc
[code]

package.json
[code]
[code]

Any hints?

[2017-08-10 13:48] #213 closed

[2017-08-10 13:50] prateekbh commented on #213
since it was attributes of element hence class was used, but I guess preact does something on top of it. so its ok.

autoInit class name how I tried doing it initially and then dropped the approach

[2017-08-10 13:51] prateekbh commented on #202
`preact-cli` uses something else for webpack, may be that

[2017-08-11 07:35] fantasia949 opened #218 "Toolbar: cannot get instance of MDComponent"
[code]

[code]
I need that instance to handle 'MDCToolbar:change' event. But it's always undefined. Do I miss something?

[2017-08-11 08:43] prateekbh commented on #218
is `this.tb` to the right object?

[2017-08-11 08:45] prateekbh commented on #218
so it seems like we have enabled the jS object for `Toolbar` yet, we'll add this and release a new version ASAP.

[2017-08-11 10:14] #218 closed

[2017-08-11 10:17] filoozom commented on #218
```1.1.4``` was just published, and you can use ```this.tb.MDComponent``` or even easier ```onChange``` on the ```Toolbar```:
[code]

[2017-08-11 12:56] keemor commented on #202
I've made it work.

1. I removed `exclude: [/node_modules/],` from `package.json`
(I was afraid that it will make bundle.js much bigger but the size dropped by 50% -> 450->300KB)

2. In `babel.rc` I changed presets to `env` and added plugin  `"transform-object-rest-spread",`
( I removed babel-preset-es2015 & babel-preset-stage-0)

[code]
And it started to work.

3. Missing Promise added with `"bab

[2017-08-11 17:30] filoozom commented on #202
To be clear, are you talking about your own project or about ```gh-pages```? I'm closing this issue and replacing it with a new one specifically for ```gh-pages```, because this library does work with IE 11, it's just a matter of configuring ```babel``` and ```webpack``` correctly.

[2017-08-11 17:30] #202 closed

[2017-08-11 17:33] filoozom opened #220 "Fix gh-pages on IE 11"
The documentation does not work on IE 11 because of a ```babel``` / ```webpack``` configuration issue.

Maybe we should move ```gh-pages``` to ```preact-cli```?

[2017-08-12 12:01] filoozom commented on #195
Do you think that snapshot testing would be a good solution for this library? Would make sure that the output stays the same for every update, but we'd still need to make sure that the HTML is the same as ```material-components-web```.

[2017-08-14 04:12] prateekbh commented on #220
do we need someone to help us on this?
if yes plz @ reznord

[2017-08-14 06:41] filoozom commented on #220
Well, I'd like to port it to ```preact-cli``` so that we'd only have to run ```preact build``` and "serve" the ```dist``` folder (is that even possible with ```gh-pages```? Will have to try). I think it would make everything a little bit easier as we wouldn't have to bother with ```webpack``` / ```babel``` again. Also, ```preact-cli``` can prerender all our pages which would also be useful.

[2017-08-14 10:58] prateekbh commented on #195
the same code thing would be easy to do with the render spy thing. not sure about the snapshot thing

[2017-08-14 11:02] filoozom commented on #195
I don't really like testing for "same exact code" because HTML can be exactly the same by being "different":

[code]

is the same as
[code]

Maybe we should compare the result of the ```h``` function?

[2017-08-14 16:02] filoozom commented on #144
Any news on this? Are you using or have you tried ```preact-cli```?

[2017-08-14 23:11] filoozom opened #222 "Formfield should be renamed to FormField for consistency"
But it's a breaking change so it might not be doable.

[2017-08-16 09:01] prateekbh commented on #222
lets keep this on hold till a breaking change comes from mdc-web.

[2017-08-24 16:48] greenkeeper[bot] opened #224 "An in-range update of preact is breaking the build 🚨"
## Version **8.2.2** of [preact](https://github.com/developit/preact) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/prateekbh/preact-material-components/compare/greenkeeper%2Fpreact-8.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      preact
    </td>
  </tr>
  <tr>
    <th align=

[2017-08-24 17:58] filoozom opened #225 "Replace accent with secondary"
As per https://github.com/material-components/material-components-web/commit/2314ad5 for ```>1.8.0```
Cf. https://github.com/prateekbh/preact-material-components/pull/223#issuecomment-324710260

[2017-08-24 18:18] filoozom commented on #224
Closed in #227

[2017-08-24 18:18] #224 closed

[2017-08-31 15:21] filoozom opened #234 "Update package.json to remove warnings"
# Dependencies

- ```babel-preset-babili``` should be replaced with ```babel-preset-minify```
- ```babel``` should be replaced with ```babel-cli```

[code]

# Scripts

- ```prepublish``` should be renamed to ```prepublishOnly```

[code]

This might also be related to the Travis build issues on ```npm install```, and will break ```npm``` versions before 4, but that shouldn't be a problem because we

[2017-09-01 14:45] gpoitch opened #236 "Textfield layout breaks when no value"
If you have a Textfield and delete it's value, the layout can become broken:

![textfield](https://user-images.githubusercontent.com/411908/29974707-ce5ea842-8f01-11e7-8bd1-980eb599d942.gif)

It looks like because it only has this class when there is a value: https://github.com/prateekbh/preact-material-components/blob/master/Textfield/Textfield.jsx#L73-L75

This can occur when your Textfield is c

[2017-09-02 20:19] filoozom commented on #236
Tried the same code as you on latest ```preact-material-components``` version, and it doesn't quite result in the same as your gif. In my case I still have a label when I remove the last character, but it doesn't slide down as expected. It just "teleports" from the floating position to the "placeholder" position.

Do you have a specific use case for this? One easy way to solve this would be to use

[2017-09-02 20:48] gpoitch commented on #236
Here's a minimal reproduction (also exhibits some other buggy behavior):
http://jsfiddle.net/emvg1ua8/

Preact doesn't have defaultValue, and what I'm doing is pretty common usage.  Should be fixable by using focus instead of presence of value to determine the label state.  I will try to submit a PR.

[2017-09-02 21:08] filoozom commented on #236
I know that it's common, was just suggesting a temporary fix. I think that #237 solves at least a few problems. Still don't get quite the same result as you on JSFiddle though. The label goes back on the input as a placeholder when I remove the last character. Maybe has something to do with different browsers?
Regarding the ```placeholder``` issue, I guess we should just remove it on JS-enabled cl

[2017-09-02 21:15] gpoitch commented on #236
@filoozom thank you for the quick feedback and your temp fix suggestion. Your PR looks like a promising fix.

My fiddle looks like it uncovered some other issues not related to this. (why doesn't the label have a class initially?).  Maybe it's something to do with using the umd build?

[2017-09-03 10:09] filoozom commented on #236
Added ```mdc-textfield__label``` to the label in my last commit, guess I just forgot it when working on ```Textfield``` last time.

Also, I'm not sure if ```material-components-web``` is really compatible with libraries that re-render the whole element every time a prop or the state changes. Now we're actually just trying to rewrite the whole ```MDCTextfield``` in our component to make it work as

[2017-09-03 17:17] prateekbh commented on #236
Quick check what's the difference between the demo page and your gif?
https://prateekbh.github.io/preact-material-components/#/component/textfield

[2017-09-03 21:28] gpoitch commented on #236
Just connecting its `value` to state.

[2017-09-03 21:34] filoozom commented on #236
Right, in the demo there is state but never ```value={this.state.someValue}```, which makes it an uncontrolled component. I guess that we should rewrite the whole ```material-components-web``` in ```preact``` to make it 100% compatible and not calculating / rendering things twice.

[2017-09-03 21:46] gpoitch commented on #236
@filoozom check this out - I rewrote the component simply and it seems to work pretty well: http://jsfiddle.net/emvg1ua8/1/

[2017-09-03 21:53] filoozom commented on #236
Looks nice, will have a closer look tomorrow. My latest commit on #237 should work too though, and of course our component also includes ```helptext``` and ```multiline``` :-)

[2017-09-03 21:57] gpoitch commented on #236
Indeed, i didn't add all the features yet 😀, but showing that you may not have to track floating and focus state since it looks like material-components-web is handling that.

[2017-09-03 21:59] filoozom commented on #236
Yes, thanks for the information, it's really interesting! It might just be thanks to the missing class on the ```label```, or maybe it's because we re-render a child of the ```Textfield``` (```TextfieldInput```) which could be a problem for ```MDTextfield```, I'll run some tests 😃.

[2017-09-03 22:09] filoozom commented on #236
Oh yeah, and we track the floating label to avoid FOUC 😉. We might need to monitor focus as well for the same reason because inputs can also be focused before JS kicks on with ```autofocus```.

[2017-09-04 02:31] prateekbh commented on #236
i'll do some quick experiments with this today and come back on it

[2017-09-04 05:08] prateekbh commented on #236
ok so the problem in hand(layout breakage) is caused by this line:
https://github.com/prateekbh/preact-material-components/blob/master/Textfield/Textfield.jsx#L73

I guess a simple change to `'value' in props` should change the problem in hand.

[2017-09-05 02:31] edhille opened #239 "Add support for GridList"
I'm working on a small project and have leveraged `preact-material-components`, but I noticed it's missing support for `GridList`. I've started to implement this in the project and can submit a PR, but wanted to understand how strictly you try to adhere to the [MDC Design & API documentation](https://github.com/material-components/material-components-web/tree/master/packages/mdc-grid-list) as well

[2017-09-05 03:02] prateekbh commented on #239
hi @edhille,
Thanks for taking this up, if you'd explore `preact-material-components` you'll see that its a minimal wrapper over `mdc-web`. The way currently all components are implemented you just need to put their listed states in an array and name in a constant, and a lot of stuff would be taken care of for you.
we do not really go around implementing anything not implemented in the mdc-web. If

[2017-09-05 15:47] #236 closed

[2017-09-05 15:48] gpoitch opened #240 "Material specific props not being removed before render"
Internal mdc props are being set on raw DOM elements (e.g. ripple, label, helptext, etc).  Although this doesn't cause any bugs at the moment, these are not valid html attributes and have some overhead of having to be set.

From the demo site:
![screen shot 2017-09-05 at 11 27 09 am](https://user-images.githubusercontent.com/411908/30069624-3dfe0f6e-922f-11e7-84f7-c01116ad7cb6.png)

This code is s

[2017-09-05 15:51] #234 closed

[2017-09-06 14:22] MobiusHorizons commented on #123
@prateekbh, on the subject of theming, it looks like the sass is already compiled to css in the library build step, so the web project which includes `preact-material-components` can't change those theme sass variables. on super new browsers, you can use css variables to do it, but it still loads wrong initially. What is the strategy for theming.

[2017-09-06 15:48] prateekbh commented on #123
@MobiusHorizons honestly I haven't had enough free cycles to think over this.. Will try to work on this in a week

[2017-09-06 16:58] filoozom commented on #240
Oh, actually this code just removes mdcProps, not custom attributes we add to the components. Misunderstood what you meant on the other PR, guess we should indeed fix this. Should be able to add an array to every components and remove all contained attributes in ```MaterialComponent.js```. Or deconstruct every prop in ```materialDom```, might be better. What do you think @prateekbh?

[2017-09-06 17:03] filoozom opened #243 "Enforce code style"
We should enforce a given code style and improve linting for the source code. For now, a lot of PRs contain lines that don't change in the slightest except their formatting, which makes it more difficult to track changes and review pull requests.

Also, I think that the current code doesn't respect all ```eslint``` rules. At least VS Code shows errors, I'll have to check if they're indeed from our

[2017-09-06 17:20] prateekbh commented on #243
hmmm we need to get the current code and prettier in sync, I want to keep manual linting to minimum

[2017-09-06 17:35] filoozom commented on #243
Not quite sure why the output of the prettier isn't the same for your PR and mine just before that. Maybe it didn't work for me? Could this be an issue with different operating systems?

Should at least get ```prettier``` and ```eslint``` in sync though, so that we don't get those pesky linting warnings.

[2017-09-06 17:37] filoozom commented on #243
This seems like a good start: https://github.com/prettier/prettier/blob/master/README.md#eslint!

Will check it tomorrow.

[2017-09-07 04:27] prateekbh commented on #240
`MaterialComponent.js` seems to be the best place to do this

[2017-09-07 10:21] #243 closed

[2017-09-07 16:21] filoozom commented on #123
@MobiusHorizons ```.scss``` files are still available for every component in ```node_modules/@material```, and we can copy them over without any issues. Just need to slightly edit [CssMigrationWebpackPlugin.js](https://github.com/prateekbh/preact-material-components/blob/master/CssMigrationWebpackPlugin.js) and compile the SASS ourselves.

[2017-09-08 04:31] prateekbh commented on #123
@MobiusHorizons can you explain "_but it still loads wrong initially._"

we can add .scss files to ever component +  the root one, if that makes lives simpler.

[2017-09-08 16:39] MobiusHorizons commented on #123
@prateekbh, the css contains hardcoded theme colors, so it shows those on firstload until the css that sets the css variables runs. For example:
[code]

The above also only works on very new browsers as seen here: http://caniuse.com/#feat=css-variables

As to adding the scss files, that is probably the way to go, but would require experimentation / special webpack setup.

[2017-09-09 06:13] prateekbh commented on #123
but since you are using it in your webpack scss project shouldn't it just work out of the box?

[2017-09-10 17:13] MobiusHorizons commented on #123
Most configurations I have seen exclude `node_modules` by default. I'm sure it's doable, but it's unlikely to just plug and play.

[2017-09-10 22:39] filoxo opened #257 "Tabs component with preact-router links"
It seems that the Tab component renders its own `a` element which is incompatible with [preact-router](https://github.com/developit/preact-router)'s `Link` element. Is there a way to expose or defer the anchor to a child of the tab component?

#### Attempt: Link wrapping Tab

[code]

If the Tab is wrapped in a Link, the Tab moves the indicator correctly but the URL does not change nor is the corre

[2017-09-10 22:42] filoozom commented on #257
Please refer to #177 and let me know if your use-case is different from that one.

[2017-09-10 22:43] filoxo commented on #257
WHOA... well, after tinkering with all of this, and spent the time writing this issue up, everything is working as expected... Seems like the issue I was experiencing may have been because of a lack of a route definition. This works just fine now:

[code]

[2017-09-10 22:43] #257 closed

[2017-09-11 11:35] john1jan opened #258 "Module build failed when using TextField"
I tried to use Textfield
[code]

[code]

[2017-09-11 11:36] prateekbh commented on #258
using less or sass?

[2017-09-11 11:37] john1jan commented on #258
less

[2017-09-11 11:38] prateekbh commented on #258
duplicate to #144

[2017-09-11 11:38] #258 closed

[2017-09-11 12:53] john1jan commented on #144
I have solved it.  After searching a lot got this issue from less [repo](https://github.com/less/less.js/issues/974).

You have to enable **strictMath: true** in your webpack less loader option.

The problem is by default less was not supporting math function in css like **calc**, **scale** ..etc

[code]

[2017-09-11 14:04] prateekbh commented on #144
Thanks so much @john1jan u rock 👍 .
@usulix lemme know if this still persist for you.

[2017-09-11 14:04] #144 closed

[2017-09-19 05:11] prateekbh opened #263 "Migrate to mdc 0.21.0"
This will have a longer lists of tasks as many things have changed

- [x] 1. Button: Remove primary/accented props
- [x] 2. Button: Implement `mdc-button__icon`
- [ ] 3. Update Button's documentation
- [x] 4. FAB: implement `mdc-fab--exited`
- [x] 5. FAB: remove `mdc-fab--plain`
- [x] 6. FAB: implement `fab__icon`
- [ ] 7. Update Fab's documentation
- [x] 8. Snackbar: Removed the dependency of mdc

[2017-09-19 05:13] prateekbh commented on #263
CC: @filoozom in case you are prepping to pick any of these

[2017-09-19 05:16] prateekbh commented on #225
#263 should close this

[2017-09-19 05:16] prateekbh commented on #220
@filoozom closing this, as we migrated to `preact-cli`. I hope this has fixed it

[2017-09-19 05:16] #220 closed

[2017-09-19 05:18] prateekbh opened #264 "Sample code for every demo"
It'll be better to have snippet of code below every demo section.
This'll help users to easily configure their code better

[2017-09-19 05:51] prateekbh opened #265 "Extend `mdcProps`"
We should extend `mdcProps` to either take in Strings as it does today or take objectsto accommodate non-boolean values as well.
as shown in #261.
This will allow simplify code for child components and we can use it later for DOM cleanup as suggested by @filoozom

[2017-09-19 12:01] prateekbh commented on #265
@filoozom help me understand will this also cover #240 ?

[2017-09-19 12:34] prateekbh commented on #263
#266  fixes 1 and 2

[2017-09-19 12:39] prateekbh commented on #263
#267 fixes 4, 5, 6

[2017-09-19 14:16] prateekbh commented on #263
#268 fixes number 10

[2017-09-19 14:43] filoozom commented on #265
Well, depends on the implementation. If ```_mdcProps``` can take an object that says something like:
[code]
Then yes. The thing is that ```MaterialComponent``` shouldn't just add all ```_mdcProps``` to the element returned by ```materialDom()```,  because some props are used on other elements. ```TextField``` is a good example for that. Let's say we had:
[code]
And then ```src``` should be removed

[2017-09-19 18:22] DarinLevesque commented on #211
Could you post the link above again please? https://github.com/prateekbh/preact-material-components/blob/gh-pages/src/Components/Home/Home.jsx#L81 is broken.

[2017-09-20 05:11] prateekbh commented on #211
https://github.com/prateekbh/preact-material-components/blob/master/docs/src/components/app/index.js#L211

[2017-09-21 05:41] redimongo opened #271 "select date demo"
I am wondering if you have a date select demo? As having a text field that users put in their date of birth may result in the following types of dates being entered.

- 02/03/2011
- 02-03-2011
- 03-02-2011
- 03-02-11
- 03/02/11
- 2nd of march 2011

I think people can see my point here.

Would be great to have a MDC looking date selector.

[2017-09-21 05:43] prateekbh commented on #271
i didn't really get you.
do you need a text field+ date selector demo? or text field which re adjust text according to a specified format or what?

[2017-09-21 07:09] prateekbh commented on #263
#272 fixes number 8 and no documentation update is needed for this

[2017-09-21 13:37] filoozom opened #273 "#268 introduced a bug in CssMigrationWebpackPlugin"
[code]

Faulty line: https://github.com/prateekbh/preact-material-components/blob/056d8329acfb81351de14d26461f66714868a548/CssMigrationWebpackPlugin.js#L37

[2017-09-21 14:22] filoozom commented on #273
Apparently it's because ```@material/button/dist/mdc.button.css``` doesn't exist, but this seems to work on NodeJS 7 and only fails on NodeJS 8.

[2017-09-21 15:32] prateekbh commented on #273
woahhhh something changed... there's no button in `@ material`

[2017-09-21 15:39] filoozom commented on #273
Well, I guess that's why we have Travis 😛
Strange, especially because it seems to work on NodeJS 7?

[2017-09-21 17:26] redimongo commented on #271
ideally something that looks like this https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B3321sZLoP_Hamc5d1k2SmhlV2c/components-pickers-date3.png

[2017-09-22 04:42] prateekbh commented on #271
ahh ok, the problem with this is, PMC is maintained as a wrapper over `mdc-web`. So a new component request should actually go to `mdc-web` and we'll expose it the preact way.

[2017-09-24 08:22] prateekbh commented on #273
#272 fixes this as well

[2017-09-24 08:22] #271 closed

[2017-09-25 07:00] #273 closed

[2017-09-27 10:46] keemor opened #278 "Primary & Secondary buttons fail to get proper colors"
Hi,

In PMC 1.2.0 secondary & primary button do not get proper blue and red colors:

https://www.webpackbin.com/bins/-Kv1t9u-xQemYASknB1o

Also examples in the documentation are broken:
https://material.preactjs.com/component/button

Another thing is that I can't find how to apply dark theme to the elements.
I tried:
[code]

Thanks for your effort!

[2017-09-27 10:49] prateekbh commented on #278
@keemor sry, `mdc-web` took away primary and secondary.
try refreshing https://material.preactjs.com/component/button, should work.
now primary and secondary is supported as classes as shown in the page above

[2017-09-27 12:06] keemor commented on #278
@prateekbh I don't see any changes yet

[2017-09-27 12:07] prateekbh commented on #278
<Button raised className="mdc-theme--primary-bg">Primary Raised button{" "}</Button>

<Button raised className="mdc-theme--secondary-bg">Primary Raised button{" "}</Button>

[2017-09-27 12:10] keemor commented on #278
https://www.webpackbin.com/bins/-Kv1t9u-xQemYASknB1o

[2017-09-27 12:11] keemor commented on #278
Ok, works on localhost

[2017-09-27 12:13] keemor commented on #278
Looks like there's another version of docs https://preact-material-components.surge.sh/component/button

[2017-09-27 12:14] prateekbh commented on #278
heh sorry need to bring that down

[2017-09-27 12:16] prateekbh commented on #278
@filoozom i guess `preact-material-components.surge.sh` is from your account. can you please teardown this?

[2017-09-27 13:29] keemor commented on #278
It worked on localhost because of Theme/style.css imported by chance

Here it works as well: https://www.webpackbin.com/bins/-Kv1t9u-xQemYASknB1o

I'm not sure how I can help you with PR

[2017-09-27 13:41] prateekbh commented on #278
you just need to add the theme import statement here
https://github.com/prateekbh/preact-material-components/blob/master/docs/src/routes/button/sample.txt

[2017-09-27 21:15] YePpHa opened #280 "Add TypeScript declaration file"
This will make it possible to use this library in TypeScript projects.

[2017-09-28 03:13] prateekbh commented on #280
i'll try to look at this, but i have like 0 experience in this so might take long

[2017-09-28 09:22] YePpHa commented on #280
Okay, I might consider making a PR then.

[2017-09-28 09:28] prateekbh commented on #280
awesome and welcome 👍

[2017-09-28 14:25] keemor commented on #264
I was testing demo for Drawer https://www.webpackbin.com/bins/-Kv1t9u-xQemYASknB1o
All the components are built without errors but I cannot see it, what is missing there?

[2017-09-28 14:48] prateekbh commented on #264
nothing! this has built the drawer, now put a button or something
and then call
[code]

[2017-09-28 16:40] filoozom commented on #278
@prateekbh Done!

[2017-09-28 16:54] #278 closed

[2017-09-29 08:01] keemor commented on #264
The following code results: _TypeError: this.drawer.open is not a function_

https://www.webpackbin.com/bins/-Kv1t9u-xQemYASknB1o

[code]

I was also looking on the example here: http://www.material-ui.com/#/components/drawer
Which implements toggling of drawer via state.

[2017-09-29 08:06] prateekbh commented on #264
a.) this should work ```this.drawer.MDComponent.open = true```
b.) `drawer.open` was just  proxy function, which we can implement as a state too

[2017-10-05 16:51] zeligon opened #288 "Build fails after adding `preact-material-components/Select`"
Hello,

Thanks for making this available for preact!

Keep getting the following build error / failure when adding `import Select from 'preact-material-components/Select';` into my project:
[code]

Webpack config:
[code]
Note- only build fails! `npm run dev` works fine.

Let me know if additional information needed. Not sure if missing anything from webpack config or this is a bug. Please advise.

[2017-10-05 19:58] cvuorinen commented on #280
Any progress on this yet? I'm interested in using this project with TypeScript as well, and I could help with the typings.

[2017-10-05 19:59] prateekbh commented on #280
nothing started as of now, feel free to begin a PR.
@YePpHa have u started any work already?

[2017-10-06 08:22] YePpHa commented on #280
Yes, I've started some work on this, but it's not completed yet. I've written about 50% of declaration files for the components. However, one thing that I haven't started on yet is creating a declaration for the `MDComponent` property that some of the components have.

Progress is here: https://github.com/YePpHa/preact-material-components/tree/typescript-declaration

[2017-10-07 20:08] cvuorinen commented on #280
Great, looking good. I'll try them out later when I have time, but one question. Is there a reason for declaring inherited methods like `componentDidMount` and `materialDom` on each component? Seems to me like those should be redundant since they are already inherited.

[2017-10-08 00:23] YePpHa commented on #280
You're right. Private methods are just redundant.

The reason I added the `componentDidMount` and `materialDom` is because they override the method from the class they extend from and therefore they're not the method that was declared in `MaterialComponent.d.ts`. Though, I'm not sure if it actually does any difference, but I've added them for technicalities.

[2017-10-08 08:11] cvuorinen commented on #280
If the overriding method does not change the method signature I think they are redundant from the type declaration point of view. The declared type will have the same method either way.

[2017-10-17 10:01] eligao opened #315 "Snackbar conflicts with update of prop/state"
Hi all,

I have encountered an issue when using Snackbar with dynamic contents.
When snackbar is shown, any update of prop/state will render a broken snackbar.
Sometimes the snackbar never disappears, sometimes shows no text.

I have created a minimal sandbox reproducing this problem
[HERE](https://codesandbox.io/s/7w20pml681)
Simply click the button, you can see a broken snackbar.
But if you remo

[2017-10-17 10:18] eligao opened #316 "Incorrect rendering with snackbar box-sizing"
Hi,

When using the snackbar, I notice it assumes the user using `box-sizing: content-box`.
However in the case when `box-sizing: border-box`  is set globally (which happens very often), the body of snackbars are not filling the width of the screen on small devices.

I've created a simple sample
[HERE](https://codesandbox.io/s/7w20pml681)

When the page is opened on a mobile phone, the problem occ

[2017-10-17 12:33] prateekbh commented on #316
yep verified. This indeed is a bug. However you'll need to open a bug here:
https://github.com/material-components/material-components-web/issues

as this is the parent repo and we don't do any alterations in the css. also please refer this bug there or the parent bug here.
Thanks 👍

[2017-10-17 12:35] prateekbh commented on #288
is Textfield, Drawer, Menu or any other component working for you?

[2017-10-17 12:35] #263 closed

[2017-10-17 12:35] #225 closed

[2017-10-18 03:54] eligao commented on #316
I've submitted an issue in the parent repo at https://github.com/material-components/material-components-web/issues/1440

[2017-10-18 04:56] prateekbh commented on #316
Thank you so much :)

[2017-10-18 12:26] zeligon commented on #288
Including any preact material component will result the same error. As a workaround, importing only css.

[2017-10-18 15:39] prateekbh commented on #288
were you using scss earlier?

[2017-10-18 22:01] zeligon commented on #288
No, only less.

[2017-10-18 22:10] prateekbh commented on #288
But `preact-material-components` has no less files!

[2017-10-18 23:42] zeligon commented on #288
Sorry for the confusion, was under the impression your question is in general respect for my project, where less is used across.

Didn't make any changes to include / or use scss when tried to import `preact-material-components`. Only change beside include and use the component was to add 'strictMath: true' in config under less (as mentioned in readme file). Hope this clarifies ..

[2017-10-19 18:40] prateekbh commented on #288
is it ok to close this issue now?

[2017-10-19 23:23] zeligon commented on #288
Sure. Thanks for looking into it!

[2017-10-20 03:05] eligao commented on #316
It seems the issue is resolved in the parent repo via https://github.com/material-components/material-components-web/pull/1453

[2017-10-20 03:24] #316 closed

[2017-10-20 04:24] #288 closed

[2017-10-20 04:25] prateekbh commented on #316
awesome, this will get fixed in next publish then

[2017-10-20 05:18] eligao commented on #315
Hi, I've opened a PR at https://github.com/prateekbh/preact-material-components/pull/317

[2017-10-20 17:58] mellogarrett opened #318 "Select width"
`div.mdc-select` seems to have a static width of only 9px for some reason. For this reason, it does not show the currently selected value (or the hintText).

I can inspect the element and set the width higher and see the span correctly, but when I interact the the dropdown it sets it back to 9px.

<img width="850" alt="screen shot 2017-10-20 at 2 03 39 pm" src="https://user-images.githubuserconten

[2017-10-20 18:21] prateekbh commented on #318
are there no members in this select box?
or is there no selected value at the beginning?

i see a similar case working fine here: https://material.preactjs.com/component/select

[2017-10-20 18:22] mellogarrett commented on #318
There are 3 members, initial `selectedIndex` is set to -1

[2017-10-20 19:51] mohammedzamakhan opened #319 "Fab on my iPhone 6"
![img_4010](https://user-images.githubusercontent.com/2327532/31839301-183d6a3c-b5a6-11e7-8a32-556ac431e6b8.PNG)

[2017-10-21 02:27] prateekbh commented on #318
can you share your jsx code?

[2017-10-21 02:35] prateekbh commented on #319
Need to add `mdc-fab__icon` to icon.

[2017-10-21 16:30] mellogarrett commented on #318
Sure, here it is:

[code]

I am importing the css globally

[2017-10-23 07:40] prateekbh commented on #318
so here are two things:
a.) looks like you cannot instantiate an empty `Select` and that might be the case since you are passing it through props, please check. I'll also try asking this to `mdc-web` team
b.) for the width, I guess you can specify the `min-width` or a fixed width.

[2017-10-23 14:24] mellogarrett commented on #318
It seems like `selectedIndex` coming from props _was_ causing an issue. Once I changed that from an Immutable.js structure to a plain JS object & added `style={{ minWidth: '100px' }}` to the `Select` element, everything is working as expected.

Thanks a ton @prateekbh !!

[2017-10-23 14:24] #318 closed

[2017-10-23 15:30] mellogarrett opened #322 "How to use linear-progress with determinate state?"
I tried just passing `progress` as a number between [0, 1], as the [MDC docs](https://material.io/components/web/catalog/linear-progress/) say to do, but it always renders the progress bar completely full

JSX:
[code]

[2017-10-23 15:35] prateekbh commented on #322
<LinearProgress ref={pbar=>{this.pbar=pbar}} />

this.pbar.MDComponent. setProgress(0.5)

[2017-10-23 15:42] prateekbh commented on #322
but yeah, probably we should make this a prop

[2017-10-23 15:53] mellogarrett commented on #322
This code:
[code]
results in this:

<img width="652" alt="screen shot 2017-10-23 at 11 52 49 am" src="https://user-images.githubusercontent.com/9908831/31899092-bca3096c-b7e8-11e7-85bc-078c208c563c.png">

[2017-10-23 16:00] prateekbh commented on #322
my bad its
[code]

which also makes it way easier to be implemented as a prop

[2017-10-23 16:08] mellogarrett commented on #322
Awesome!

I think progress is defaulting to `1` as well, which on initial load causes an animation from full bar down to whatever your desired initial progress is.

Maybe set this initial progress to `0` instead?

[2017-10-24 04:19] prateekbh commented on #322
not really sure if initial progress falls under PMC or mdc-web

[2017-10-24 04:19] #322 closed

[2017-10-24 10:31] porfirioribeiro opened #324 "Slider discrete"
Would it be possible to add the discrete option?

https://github.com/material-components/material-components-web/tree/master/packages/mdc-slider#discrete-slider

[2017-10-24 10:36] filoozom commented on #324
Hey, sure!
If you're willing to open a PR, it's as simple as adding 'discrete' to `_mdcProps`.

The line you'd be interested in is: https://github.com/prateekbh/preact-material-components/blob/cabaffeb4bc2828723e86a13ffa6d316af70d767/Slider/Slider.jsx#L12

[2017-10-24 10:36] prateekbh commented on #324
oh yes ofcourse, we just need to add an option here
https://github.com/prateekbh/preact-material-components/blob/master/Slider/Slider.jsx#L12

and a conditional dom before this:
https://github.com/prateekbh/preact-material-components/blob/master/Slider/Slider.jsx#L69

let me know if you wanna do a PR or else I can do this tomorrow

[2017-10-24 14:09] porfirioribeiro commented on #324
I'm still exploring the code base to understand how to do it.
It also needs to render a different DOM or just some part's?

[2017-10-24 14:23] prateekbh commented on #324
just an additional pin dom

[2017-10-24 14:44] #319 closed

[2017-10-24 20:54] porfirioribeiro commented on #324
Well, i think it's done.

Hope it's ok with your guidelines

[2017-10-24 20:56] porfirioribeiro commented on #280
I'm also using this library with typescript, i will try to help with this also

[2017-10-25 07:17] prateekbh commented on #324
its perfect, just a small change required

[2017-10-25 08:38] #324 closed

[2017-10-26 19:59] mellogarrett opened #332 "Textfield does not implement `valid` prop"
I'm trying to pass a prop `valid` to `<Textfield />`, as described [here](https://material.io/components/web/catalog/input-controls/text-fields/#mdctextfield-api)

Doesn't seem to do anything.

I would expect it to add the appropriate classes, for example `.mdc-textfield--invalid` to the top level div.

[2017-10-26 20:03] prateekbh commented on #332
Interesting! so you want to initialize your textfield with `valid={false}`?
so far its more of internally managed thing, hence we never exposed it on top level surface, but yeah can be done easily as like in slider/menu/checkbox etc

[2017-10-26 20:08] mellogarrett commented on #332
<img width="709" alt="screen shot 2017-10-26 at 4 05 57 pm" src="https://user-images.githubusercontent.com/9908831/32074496-9860c4d2-ba67-11e7-8d44-48a31566a0ab.png">

Basically, if the user clicks `NEXT` I want to change the TextField `valid` prop from `true` to `false`, which will highlight the field and draw attention to the user that they need to input a value for the required field.

I'm alre

[2017-10-26 20:10] prateekbh commented on #332
@mellogarrett isn't `required` not helping? or are you looking for regexp or custom logic?

[2017-10-26 20:14] mellogarrett commented on #332
`required` requires that you focus, then un-focus the TextField to trigger the red styling as seen here:

<img width="227" alt="screen shot 2017-10-26 at 4 11 58 pm" src="https://user-images.githubusercontent.com/9908831/32074820-8f478830-ba68-11e7-8295-0c7a242a5483.png">

I basically want to duplicate this functionality of highlighting the element, but on click of `NEXT` (if there is no value pre

[2017-10-26 20:16] prateekbh commented on #332
sure, understood and taken as a valid bug.

till then you can create a ref to this textfield and set ref.MDComponent.valid=false

[2017-10-26 20:18] #315 closed

[2017-10-27 13:03] mellogarrett commented on #332
I'll take this, I just might need some direction on getting started.

[2017-10-27 13:06] prateekbh commented on #332
@mellogarrett take a look at this:
https://github.com/prateekbh/preact-material-components/blob/master/Menu/Menu.jsx#L58-L60

[2017-10-29 15:38] ashishWaghmare opened #335 "Data Table"
In sample can we have example of Data Table
https://material.io/guidelines/components/data-tables.html#data-tables-interaction

[2017-10-29 21:31] mellogarrett commented on #264
Which components need examples added? I can help with this

[2017-10-30 08:00] prateekbh commented on #264
ummm pretty much all... the samples which are there on demo needs code sample below them

[2017-10-30 10:50] keemor commented on #264
There could be expandable element with code inside like in http://www.material-ui.com/#/components/card
So there would be less scrolling on pages with many demos

[2017-10-30 13:39] #332 closed

[2017-10-31 03:54] fantasia949 opened #365 "Label's position is not correct in multiline-mode TextField"
Please see the screenshot

![image](https://user-images.githubusercontent.com/1866854/32206554-651dd488-be28-11e7-8d13-9978b929eb1d.png)

The label is always anchored at bottom while in the original  material-components-web, the label is anchored at top.

[2017-11-03 13:26] M-ZubairAhmed commented on #195
hey ! I have got some simple solution for this do you guys mind if I make a pr for this ?

[2017-11-03 13:36] filoozom commented on #195
Hey, not at all! Please do, I didn't quite find enough time to start this, but I can help you for sure if you need me.

[2017-11-04 17:20] MobiusHorizons commented on #365
I can confirm this is not working correctly. You can see the issue in the example page https://material.preactjs.com/component/textfield if you just expand the textfield. I'm also seeing that it does not expand the textarea height when you expand the number of rows, which may or may not be a related bug.

[2017-11-05 20:01] IrregularShed commented on #214
Hi - back on this now!

I can't find the exact point where it changed myself - I installed my project on a new server and found the layout had broken completely. Working through the versions of preact-material-components in my package.json, I found forcing it to 1.0.7 worked - later versions had problems with the grid. (I'm working from memory and the year I've had is making it all a bit foggy!)

[2017-11-13 02:25] JarLowrey opened #368 "Checkbox issues"
[Checkbox doc](https://material.preactjs.com/component/checkbox) says to use form field as FormField, but it's actually Formfield. This caused an [issue here](https://github.com/developit/preact-cli/issues/42#issuecomment-303342496)

Edit: Copy+pasting in the code snippets results in checkbox labels bottom aligned. Not sure why.

Edit: Also if you click the label instead of the checkbox, the pink

[2017-11-13 03:31] JarLowrey commented on #368
This is unrelated, but it seems like the buttons do not have a default margin. Is that expected behavior?

[2017-11-13 04:06] prateekbh commented on #368
a.) Yes the `Formfield` should be fixed
b.) Pink animation bug is open with `mdc-web`
c.) We don't really have any call on css `mdc-web` owns it completely
c.) Can you explain `Layout Grid` with some screenshot?

[2017-11-13 04:09] JarLowrey commented on #368
I would think it is supposed to change vertical alignment right? It doesn't seem to do anything in the examples. Thanks!

![selection_033](https://user-images.githubusercontent.com/7429786/32709454-75e6263c-c7fe-11e7-8972-87f6023a4b10.png)

[2017-11-13 07:52] prateekbh commented on #368
Update: this bug is due to the fact we were not giving height to the row. will update the demo.

[2017-11-13 08:08] mattiagalati opened #370 "Add support for Textfield with Leading/Trailing icons"
Cannot figure out how to achieve the feature "Textfield - Leading/Trailing icons" as presented here: https://material-components-web.appspot.com/textfield.html

[2017-11-13 08:08] #368 closed

[2017-11-13 09:26] prateekbh commented on #370
woops this is currently un supported, happy to take this as a feature request.

[2017-11-13 13:17] sumiet commented on #365
hey, i'd like to claim this issue, it'll be my first OSS contribution even though i've been working as a developer for years.

[2017-11-13 15:02] prateekbh commented on #365
@sumiet awesome! go ahead its yours

[2017-11-13 16:02] sumiet commented on #365
@prateekbh Thanks! I have made the changes in the code, but currently unable to figure out on how to check it on demo? Do I need to create a demo website using the library? Is there some other methodology to check the behavior while developing this. Please help.

[2017-11-13 16:05] prateekbh commented on #365
there a folder `sample` thats like a rough playground... try it in thr

[2017-11-14 20:36] IrregularShed commented on #214
OK, it turns out that the problem I was having with the grid was down to the introduction of the LayoutGrid.Inner (which had completely passed me by - 2017 has been like that). The number of columns were unrelated (and I think may just have been me making a mistake way back at the beginning, when I was moving from MDL to this).

I've modified the documentation to correct things a little. I'd also

[2017-11-14 20:38] #214 closed

[2017-11-15 07:39] mattiagalati opened #401 "LayoutGrid.Cell loses Cols size classes when className is passed as prop"
Hy, I've noticed that the "className" prop passed to a LayoutGrid.Cell completely override the cols size specified.

This is some test source, that behave correctly:
[code]
![image](https://user-images.githubusercontent.com/6606297/32824148-235a740c-c9e0-11e7-97f8-f3b5ac8019d4.png)
(the classes generated for the cell are "**mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid

[2017-11-15 09:53] porfirioribeiro commented on #401
Was coming here exactly to report the same error!
The classes we pass should be added to the classname and not override it.
https://github.com/prateekbh/preact-material-components/blob/master/LayoutGrid/LayoutGrid.jsx#L106

[2017-11-15 12:13] mattiagalati opened #403 "Cannot assign custom className to Icon Component"
The className prop passed to Icon Component is not mantained but overridden

https://github.com/prateekbh/preact-material-components/blob/master/Icon/Icon.jsx#L15

Similar to #401

[2017-11-15 18:26] #401 closed

[2017-11-15 19:59] mellogarrett commented on #322
Are there any plans to make `progress` a prop?

[2017-11-15 20:01] prateekbh commented on #322
it is there... sorry the doc says its values are `true/false` but actually its from 0 to 1

`progress={0..1}`

[2017-11-15 21:23] mellogarrett opened #404 "Select - Mobile"
On mobile (Safari on iOS 11), when I tap into a Select menu I cannot tap off of the Select menu to close it. I must choose an option to close the Select menu.

[2017-11-15 21:24] prateekbh commented on #404
lemme check in android chrome

[2017-11-15 21:38] prateekbh commented on #404
works in chrome android, can you raise a bug with mdc-web?

[2017-11-16 20:29] mellogarrett opened #405 "Theme - Radio Buttons"
Radio buttons are using the primary color theme whereas the [mdc docs](https://github.com/material-components/material-components-web/tree/master/packages/mdc-radio#user-content-theming) say they should use the secondary color theme

[2017-11-17 16:21] prateekbh commented on #405
Can u verify if this was changed in the latest release?

[2017-11-17 16:42] mellogarrett commented on #405
How can I check?

[2017-11-17 19:32] mellogarrett opened #407 "Text - Label Position"
The `Textfield` component when using either the `multiline` or `fullwidth` option has odd label placement.

multiline:
<img width="224" alt="screen shot 2017-11-17 at 2 30 07 pm" src="https://user-images.githubusercontent.com/9908831/32965227-eb9eef1e-cba3-11e7-9bc4-80a95ac3a8ec.png">

fullwidth:
<img width="511" alt="screen shot 2017-11-17 at 2 30 26 pm" src="https://user-images.githubusercontent

[2017-11-17 19:45] mellogarrett commented on #407
Actually, it looks like MDC Web doesn't support labels for fullwidth text fields. I can submit a PR with logic to remove the label if `fullwidth={true}`, if desired?

[2017-11-17 20:18] mellogarrett commented on #407
Also, for the `multiline` it looks like the error is because the outer div has the class of `mdc-textfield--multiline` when it should be `mdc-textfield--textarea`

[2017-11-20 06:16] prateekbh commented on #407
@mellogarrett plz feel free to go ahead and send a PR

[2017-11-20 06:16] prateekbh commented on #405
there is a changelog for mdc-web

[2017-11-20 06:21] prateekbh commented on #222
@filoozom with next release Textfield is being changed to TextField do you think we should rename this as well?

[2017-11-20 07:05] filoozom commented on #222
Yes, for sure. I'll open a PR real quick!

[2017-11-20 07:28] prateekbh commented on #405
actually this should be purely on css... and we dont change anything in css... makes it strange

[2017-11-20 08:48] filoozom commented on #407
We've already got two breaking changes for 0.25, might as well rename the whole `multiline` prop to `textarea`.

[2017-11-21 13:58] mellogarrett commented on #404
mdc-web issue [here](https://github.com/material-components/material-components-web/issues/1605)

[2017-11-21 14:46] mellogarrett commented on #407
1) Where is the class `mdc-textfield--multiline` coming from?

2) What's the best process for making local changes and testing their outcome?

[2017-11-21 14:50] prateekbh commented on #407
a. class is coming from `TextField.jsx`

b. you can use the `sample` folder to test anything rough

[2017-11-21 14:56] mellogarrett commented on #407
a. I see `className` being passed in as a prop. Is it there?

b. What are the steps to test something in `sample`?

[2017-11-21 14:58] prateekbh commented on #407
b. steps:
`webpack -w` and `http-server .`

a. https://github.com/prateekbh/preact-material-components/blob/master/TextField/TextField.jsx#L52

[2017-11-21 15:24] mellogarrett commented on #407
I can't get a `TextField` to render in sample. I just keep getting this:

<img width="1440" alt="screen shot 2017-11-21 at 10 23 04 am" src="https://user-images.githubusercontent.com/9908831/33080435-15ad5c64-cea6-11e7-96bd-09f1f92686c6.png">

[2017-11-21 15:31] prateekbh commented on #407
in root
0.) npm i on latest master
1.) `npm run build`
in sample
2.) `webpack -w`
3.) `http-server .`

also do u slack?

[2017-11-21 15:32] mellogarrett commented on #407
Yea, I'm a Slacker :)

[2017-11-21 15:35] prateekbh commented on #407
https://preact.slack.com -> prateekbh

[2017-11-21 15:37] mellogarrett commented on #407
Says I have to have a `@developit.ca` email address

[2017-11-21 15:41] prateekbh commented on #407
gimme ur mail id

[2017-11-21 15:42] mellogarrett commented on #407
garrett6346@gmail.com

[2017-11-21 15:43] prateekbh commented on #407
sent

[2017-11-24 18:27] mellogarrett commented on #407
Fixed by #412

[2017-11-24 18:27] #407 closed

[2017-11-24 18:28] prateekbh commented on #370
@mellogarrett will you be able to take this up?

[2017-11-24 18:31] mellogarrett commented on #370
yea, I can work on this. @mattiagalati the link is broken. Mind updating?

[2017-11-24 18:33] prateekbh commented on #370
https://material-components-web.appspot.com/text-field.html

[2017-11-25 01:32] iamvijaydev opened #417 "Persistent drawer is not drawing any children"
There is a bug with PersistentDrawer. The render doesn't use `{props.children}` to render its children.

This line here: https://github.com/prateekbh/preact-material-components/blob/master/Drawer/Drawer.jsx#L191 should be like this:

`<nav className="mdc-persistent-drawer__drawer">{props.children}</nav>`

Currently, it's like this:

`<nav className="mdc-persistent-drawer__drawer" />`

[2017-11-25 01:50] xxgreg opened #418 "ES6 module support sans build step"
Is it possible to use preact-material-components directly in the browser via ES6 modules without a build step?

For example the following works in Chrome:
[code]

I would like to be able to do this:
[code]

If this isn't supported - then consider this a feature request.

Cheers!

[2017-11-27 17:48] prateekbh commented on #418
https://unpkg.com/preact-material-components@1.3.1/index.js
is served as an **esm**

please let us know if you were looking for anything else.

[2017-11-27 17:48] #418 closed

[2017-11-27 20:43] xxgreg commented on #418
Thank you!  I must be blind ;)

[2017-11-28 03:08] #403 closed

[2017-11-28 11:35] sumiet commented on #365
@prateekbh I am bit delayed here. But can you help me with the commands to run the code in sample folder

[2017-11-28 11:40] prateekbh commented on #365
@sumiet this one got covered in the last release as it was a little critical, would you mind to another beginner bug?

[2017-11-28 11:40] #365 closed

[2017-11-28 11:49] sumiet commented on #365
@prateekbh sure that would be really great. Can you guide me on which should I take up. I am new to both OSS and react community. Thanks!

[2017-11-28 14:09] prateekbh commented on #365
@sumiet here's a super easy thing
https://github.com/prateekbh/preact-material-components/issues/417

[2017-11-28 16:56] sumiet commented on #417
@prateekbh I am working on this fix, can you help me with the commands to run the code in sample folder.

[2017-11-28 16:58] filoozom commented on #417
Please have a look at this PR: https://github.com/prateekbh/preact-material-components/pull/420/files

[2017-11-30 07:20] vaibhavkhl12 opened #442 "Publish pre-compiled package to npm."
[create-react-app](https://github.com/facebookincubator/create-react-app) prod build not able to minify this package. Read more [here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify) about this issue.

[2017-11-30 19:08] prateekbh commented on #442
we do export an ES5 version:
https://unpkg.com/preact-material-components@1.3.1/dist/index.js

[2017-11-30 19:08] #442 closed

[2017-11-30 19:09] #417 closed

[2017-11-30 19:09] #370 closed

[2017-12-01 06:46] vaibhavkhl12 commented on #442
thanks :)

[2017-12-01 09:18] mattiagalati opened #444 "webpack-3 with babel-env does not transpile MaterialComponents.js according to target"
In my project I have this environment
[code]

with the following configuration on webpack regarding js|jsx files:
[code]
During my build, I see de debug log of babel-env, loading a set of plugins for make my code compatible with android, as described in target.browsers

Once the build is completed I can see that my code is transpiled correctly, for example, "classes" are converted in functions, re

[2017-12-01 10:14] mattiagalati commented on #444
Just to give some further informations:
- I've removed babel options from webpack.config.js file and put them in separate .babelrc file
- Launched another build >> same result
- Launched babel-cli, whom take config from the same .babelrc file, on the previous already-builded js, now the classes are translated.

At this point I don't think that the issue reside in preact-material-components library

[2017-12-06 14:35] mellogarrett opened #445 "Select aria-selected not updating correctly"
If you pass `selectedIndex=null` to a Select component, it does not set all of its items to `aria-selected: false` like you would expect.

[2017-12-06 14:36] prateekbh commented on #445
ohh nice catch

[2017-12-18 15:10] #280 closed

[2017-12-20 13:40] mellogarrett commented on #445
This has been fixed in #447

`material-components-web` did not like having `selectedIndex` set to null. It updates the aria-selected attr correctly, however, when you set it to -1 instead.

[2017-12-20 13:40] #445 closed

[2017-12-20 23:01] YePpHa opened #476 "Keep consistency in listeners to always pass an event object as an argument"
I noticed in [PR/474](https://github.com/prateekbh/preact-material-components/pull/474) that some of the listeners don't get the event object passed as an argument (see [/Menu/Menu.jsx#L43](https://github.com/prateekbh/preact-material-components/blob/master/Menu/Menu.jsx#L43) and [/Dialog/Dialog.jsx#L26](https://github.com/prateekbh/preact-material-components/blob/master/Dialog/Dialog.jsx#L26)).

[2017-12-21 20:42] mellogarrett commented on #404
Found out this is because iOS doesn't emit a click event if the element you are tapping on isn't considered "clickable".

Workaround is setting all elements as "clickable"

[code]

[2018-01-02 02:54] IndeDude opened #481 "105:31-43 "export 'MDCTextfield' was not found in '@material/textfield/'"
`dependencies {
...
"preact-material-components": "^1.3.3",
...
}`

Started getting this error after shifting project to my Ubuntu 16.04 LTS platform from MacBook Pro.

[2018-01-02 02:55] prateekbh commented on #481
ummm... using TS?

[2018-01-02 02:55] mellogarrett commented on #481
Case sensitivity issue. The module is actually “MDCTextField” with a capital “F”

[2018-01-02 16:37] prateekbh commented on #481
does this solve for u @IndeDude ?

[2018-01-02 20:59] #476 closed

[2018-01-03 09:58] pmbanugo opened #483 "Select component displays its items in a wrong position when placed inside a Dialog"
When I used the select component inside a dialog, it display its items when clicked at the bottom of the dialog.

This is how it renders outside of a dialog.

<img width="887" alt="screen shot 2017-12-20 at 17 03 35" src="https://user-images.githubusercontent.com/4036118/34515939-e96d75da-f074-11e7-8dfc-cd7b405f8c61.png">

Inside a dialog it displays like this

<img width="965" alt="screen shot 20

[2018-01-03 12:34] mellogarrett commented on #483
@pmbanugo This is actually a bug in `material-components-web`, which you can see here: https://github.com/material-components/material-components-web/issues/719
This project just wraps `material-components-web`

[2018-01-09 16:15] #481 closed

[2018-01-14 15:16] developit opened #515 "primary/accent as boolean props?"
Just a thought - rather than having to do `<Button className="mdc-theme--primary-bg">` could we set up `<Button primary>`?

[2018-01-17 17:40] mellogarrett commented on #515
Sounds like a great idea! Maybe accept `<Button secondary>` _and_ `<Button accent>`

[2018-01-17 17:43] prateekbh commented on #515
IIUC `primary` and `accent` are reserved terminology in case of material design. let use that and put the apt class name in if we have an agreement.

[2018-01-22 17:18] prateekbh opened #519 "Added "primary", "secondary" props to <Fab>"
Check if fab still supports this and add it back

[2018-01-23 13:31] heat opened #548 "MDC List with avatar list class"
MDC List should be awared about avatar list item with class `mdc-list--avatar-list`. I have not tested yet but  the componet that exists is a ListItemAvatar [MDC LIST](https://material.io/components/web/catalog/lists/#making-a-graphic-an-avatar)

[2018-01-23 21:55] prateekbh commented on #405
is it still happening @mellogarrett ?

[2018-01-23 21:56] prateekbh commented on #335
sample basically have a samples for all the components, so not sure if we would want a data table here.

@filoozom @mellogarrett @YePpHa thoughts?

[2018-01-23 21:58] prateekbh opened #550 "Add activeIndex as a prop to Tabs"
Currently `active` is a prop to every `tab` in `tabs`.

a.) This can lead to issues if a dev give multiple `active` classes.

b.) changing just this prop, does not update the indicator.

Hence would be best to use this in `tabs` and call underlying function on `MDComponent`

[2018-01-24 10:21] YePpHa commented on #335
[material-components-web#57](https://github.com/material-components/material-components-web/issues/57) hasn't implemented that component yet. We should wait for them to implement it before we do anything.

[2018-01-24 16:55] prateekbh commented on #335
oh nice... thanks for digging this up @YePpHa.

I'll close this for now, we'll take this up when they implement the underlying component

[2018-01-24 16:55] #335 closed

[2018-02-03 00:08] YePpHa opened #552 "Select `hintText` is missing `mdc-select__label--float-above` when there's a default value"
Related: [material-components-web#1810](https://github.com/material-components/material-components-web/issues/1810)

The [\<Select\>](https://github.com/prateekbh/preact-material-components/blob/master/Select/Select.jsx) component is not setting the class `mdc-select__label--float-above` on the `.mdc-select__label` element in the beginning when the select has a default value.

Example:
[code]

Ima

[2018-02-05 17:56] #552 closed

[2018-02-05 19:58] 7Ds7 opened #555 "Textfield set validity"
I do not seem to be able to set the validity of a textfield programatically or trough props

given the following input
```<TextField label="Street Address" id="street_name" helperTextValidationMsg="Invalid" valid="false" required/>```

Checked the issues before and this one https://github.com/prateekbh/preact-material-components/issues/332 lead to a merge in which the valid prop could be set to a

[2018-02-05 20:01] 7Ds7 commented on #555
Ok it seems that validity={false} and not validity="false" works but isn't there any method that we can call on the input element that triggers it ?

[2018-02-05 20:03] mellogarrett commented on #555
You'd probably want to store a `valid` variable in your app state somewhere and set its value via an `onChange` handler on the `TextArea` component

[2018-02-05 20:09] mellogarrett commented on #555
[code]

[2018-02-05 20:09] 7Ds7 commented on #555
Humm, ok but that means onde need to have app states for each textfield used right ?
Also when using helperTextValidationMsg it does not seem to show when the field goes invalid

[2018-02-05 20:11] mellogarrett commented on #555
Only if you wish to control validation. You could always store this state in a parent component and pass it down via props.

We'll definitely need to look at the `helperTextValidationMsg` issue

[2018-02-05 20:44] prateekbh commented on #555
<TextField ref={txtField=>{this.txtField = txtField}} label="Street Address" id="street_name" helperTextValidationMsg="Invalid" valid="false" required/>

`this.ref.txtField.MDComponent.valid = false`

[2018-02-05 21:48] 7Ds7 commented on #555
Thank to you both, i will figure out a way to manage with the ref attribute, but the 'helperTextValidationMsg' not appearing is a known issue of the current version right ?

[2018-02-05 22:14] prateekbh commented on #555
yep will check

[2018-02-05 22:24] prateekbh commented on #555
its mostly adding a condition here:
https://github.com/prateekbh/preact-material-components/blob/master/TextField/TextField.jsx#L166

[2018-02-05 22:31] prateekbh commented on #555
@7Ds7 try this
[code]

[2018-02-05 22:34] prateekbh commented on #195
easiest would be to do visual diff testing with the documentation with puppitier.
also if this needs lets point documentation to latest build components

[2018-02-05 23:25] 7Ds7 commented on #555
Yes that seems to work, thank you @prateekbh

[2018-02-05 23:25] #555 closed

[2018-02-05 23:43] 7Ds7 commented on #555
With the last markup format everything works, also without the ref attribute works by setting the input parent mdc-text-field like so

`input.closest('.mdc-text-field').classList.add('mdc-text-field--invalid');`

I understand that this might not change Input component state, but it might be helpful to leave here if someone was just interested in the display functionality of the component, as i was

[2018-02-05 23:53] prateekbh commented on #555
a manual call to `classList.add` might get overridden by preact's diffing algo

[2018-02-08 00:49] ThisKappaIsGrey opened #583 "Errors when trying to import .scss files in TextField"
Hi, I tried `@import "preact-material-components/TextField/_mixins.scss";` in order to use the sass mixins to style the textbox, however i get this error:
`@import "bottom-line/mixins";
^
      File to import not found or unreadable: bottom-line/mixins.`
I want to change the text label color, and I'm using sass. Thank you for your help! 😄

P.S:
How do I change the label color in general? I'm reall

[2018-02-08 18:55] prateekbh opened #585 "Add chips component"
https://github.com/material-components/material-components-web/tree/master/packages/mdc-chips

[2018-02-08 18:56] prateekbh opened #586 "Card: Add `--stroked` variant"

[2018-02-08 18:58] prateekbh opened #587 "Add `bottom-line` package and use it in TextField"

[2018-02-08 18:59] prateekbh opened #588 "card: All CSS classes for content layouts have been removed"

[2018-02-08 19:05] #519 closed

[2018-02-08 19:07] prateekbh commented on #583
oh yeah! that is because they have created a new component `bottom-line`.
This will be fixed in 1.3.6 version

[2018-02-08 19:07] prateekbh commented on #583
also did you just tried doing it with normal css selector higher specificity?

[2018-02-08 19:10] YePpHa commented on #585
I can implement this.

[2018-02-08 19:45] YePpHa commented on #585
@prateekbh I got a question regarding on how you want me to export the two classes Chip and ChipSet. The problem is that the package is named Chips and therefore it doesn't make sense to export Chip as default.
Should I export it the same as with the Drawers or should I export them normally: `import { Chip, ChipSet } from '/Chips'`?

[2018-02-08 19:51] prateekbh commented on #585
I guess lets just name is `Chips`

and let it hide class `chip-set` from user. User can use `Chips.Chip` for implementation

[code]

[2018-02-08 19:53] YePpHa commented on #585
Okay

[2018-02-09 01:08] ThisKappaIsGrey commented on #583
@prateekbh How do I change the label color in general? I also have issues with changing the colors of the resting switch with scss, I imported the .scss file from `preact-material-components/mdc-switch` and in my style.scss I tried to do `@include mdc-switch-track-color($color)` in a subclass but I couldn't change the track color. Please help me.  I also tried to do it with css selectors but it di

[2018-02-09 18:22] #585 closed

[2018-02-11 21:36] #587 closed

[2018-02-16 16:38] ThisKappaIsGrey opened #593 "What is the proper way to use sass mixins?"
I'm not sure on how you would use sass mixins in this project.
This is what I tried:
in my component.js:
`import "preact-material-components/Switch/mdc-switch"
  import style from "./style"
  ...
  <Switch className={style.switch} />`
in my style.scss:
`@import "preact-material-components/Switch/_mixins.scss";
  .root{
  ...
     .switch {
        $color: #fff;
      @include mdc-switch-track-colo

[2018-02-20 20:28] #588 closed

[2018-02-20 20:55] YePpHa opened #611 "Remove temp fix for select floating label"
This is for v0.31.0

https://github.com/prateekbh/preact-material-components/blob/master/Select/Select.jsx#L41

[2018-02-20 20:57] prateekbh commented on #611
did anything change in 0.31.0 that helps us remove this?

[2018-02-20 20:58] YePpHa commented on #611
Yup, they applied a fix for it. I haven't tested it myself yet, but I assume that it will work.

**select:** pre-selected option correctly floats label ([#2125](https://github.com/material-components/material-components-web/issues/2125)) ([fac0d03](https://github.com/material-components/material-components-web/commit/fac0d03))

[2018-02-20 20:59] YePpHa opened #612 "Implement Chips Icon"
I've started work [here](https://github.com/YePpHa/preact-material-components/tree/feat/chips/leading-icon) but it still needs the new version of mdc.

[2018-02-21 00:10] #550 closed

[2018-02-21 00:15] #586 closed

[2018-02-21 00:31] #404 closed

[2018-02-21 00:32] prateekbh commented on #612
@YePpHa can we add this in 1.3.6?

[2018-02-21 00:32] #483 closed

[2018-02-21 00:34] #239 closed

[2018-02-21 00:35] #405 closed

[2018-02-21 09:59] YePpHa commented on #612
@prateekbh sure, I will make a PR when I get home

[2018-02-22 02:20] Huanghuiying0624 opened #617 "[Checkbox] setIndeterminate function lacks return-type annotation, cannot pass typescript type check"
When I use Checkbox of this lib, get typescript error:
ERROR in [at-loader] ./node_modules/preact-material-components/Checkbox/index.d.ts:16:3
    TS7010: 'setIndeterminate', which lacks return-type annotation, implicitly has an 'any' return type.

[2018-02-22 19:15] YePpHa commented on #617
Fixed in #618.

[2018-02-22 19:15] #617 closed

[2018-02-24 19:14] prateekbh commented on #612
@YePpHa can you please add the docs page as well with this! so we'll be almost good to publish

[2018-02-27 22:57] YePpHa commented on #612
@prateekbh sure I will start work on it

[2018-02-28 20:03] YePpHa commented on #611
I did a test on the sample page and it seems like the bug is still there. We should just keep this temporary fix for now.

[2018-02-28 20:05] #612 closed

[2018-03-02 01:32] jennydaman opened #625 "Focus circle persists after tap or click"
![image](https://user-images.githubusercontent.com/20404439/36878800-97dfeeea-1d8e-11e8-9801-d244db0c830b.png)

Is there a safe and proper way of making the focus circle disappear after tap/click?

[2018-03-03 16:00] prateekbh commented on #195
Closing this one as we have visual diff tests now!

Thanks for all the efforts and time @filoozom  @M-ZubairAhmed

[2018-03-03 16:00] #195 closed

[2018-03-05 02:06] developit commented on #625
You should be able to attach this event handler:

[code]

[2018-03-05 02:15] jennydaman commented on #625
Looks scary, but thanks!

[2018-03-05 02:15] #625 closed

[2018-03-05 06:08] wuweiweiwu commented on #264
@prateekbh I would like to take some of them :)

[2018-03-05 16:22] prateekbh commented on #264
yes please feel free to comment which one you are starting with and send PRs right away @wuweiweiwu :)

[2018-03-05 17:30] prateekbh commented on #625
this an other ripples are long pending bugs on mdc-web.

I wonder if we should have a fix available, under `experimental` folder or something.

[2018-03-05 17:57] jennydaman commented on #625
Before submitting this issue, i searched intensively for a solution upstream. Apparently, the persistent ripple is an intentional feature, it is how they handle :focus state for users using the tab key and no mouse. I'll find and link the original PR when i get home.

My opinion is that this effect is distasteful. The issue does not exist with MDL, but MDC will supersede MDL so I'm trying to stay

[2018-03-05 19:56] jennydaman commented on #625
https://github.com/material-components/material-components-web/issues/809#issuecomment-353147714

[2018-03-05 19:59] prateekbh commented on #625
![bug-vs-feature](https://user-images.githubusercontent.com/5960497/36996848-a8f9909c-206c-11e8-8dd3-ef6fc93494da.jpg)

#NotABug 😆

[2018-03-05 20:21] jennydaman commented on #625
I'll summarize my findings for future reference.

- [preact-material-components (MDC for web)](https://github.com/prateekbh/preact-material-components): `:focus` is ugly, no tooltip
- [preact-mdl](https://github.com/developit/preact-mdl): input elements `:focus` correctly, looks nice, but the library is outdated eg. [tabs](https://github.com/developit/preact-mdl) don't have animations
- preact-com

[2018-03-05 20:34] wuweiweiwu commented on #264
Ill take `TextField` for now and add more :)

[2018-03-05 20:52] prateekbh commented on #264
much needed thanks 👍

[2018-03-05 21:20] wuweiweiwu commented on #264
Just finished `textfield`

Ill take on:

- [ ] linear progress
- [ ] switch
- [ ] menu
- [ ] tabs
- [ ] dialog

Ill keep this list updated :)

[2018-03-07 00:48] wuweiweiwu commented on #123
@prateekbh Can I pick this up :)

[2018-03-07 00:51] wuweiweiwu commented on #265
I'm interested in this issue but I'm not sure I understand it 100%

[2018-03-07 00:56] prateekbh opened #660 "Subfolder CSS is not getting copied"
Our Css MigrationWebpackPlugin is not copying subfolder css inside a components folder
e.g.

`https://unpkg.com/@material/drawer@0.30.0/` has `persistent`, `permanent` etc which has scss inside it.

but no such files are in `https://unpkg.com/preact-material-components@1.3.7/Drawer/`

[2018-03-07 00:56] prateekbh commented on #123
@wuweiweiwu can you pick up #660 before anything its a blocker for any further releases

[2018-03-07 00:59] wuweiweiwu commented on #123
@prateekbh Sure! :)

[2018-03-07 16:58] prateekbh commented on #660
@wuweiweiwu can i assign this to you?

[2018-03-07 18:55] wuweiweiwu commented on #660
@prateekbh Yep! I'm working on it now!

[2018-04-02 02:42] uktris opened #702 "support for accessing value on TextField items"
Hi,

I've been testing out preact for a project and working with the material component library for the look and feel. So far it's all been going great but I've noted what I think is an omission but it would be good if someone could verify...

I occasionally use refs to deal with components that really don't need state. With the TextField component this allows access to the main object and I can g

[2018-04-03 01:04] space55 opened #739 "Error with `yarn start` with boilerplate"
Hello, all

I used the boilerplate project, and simply encased the Home page components inside a card, with the appropriate imports. Whenever I import any components, I get the following error:

[code]

`npm run dev` works, though.

Any ideas?

Thanks in advance

[2018-04-04 17:16] prateekbh commented on #739
hi! can you try with version 1.4.1?

[2018-04-04 17:38] space55 commented on #739
Yarn 1.4.1 or preact 1.4.1?

I tried it with yarn 1.3.2 and it didn't work there either.

[2018-04-17 11:20] habelMarottipuzha opened #746 "Floating label and placeholder overlap"
If we add form field of type date, we will get the floating label overlapped with placeholder.
code like
`<input type='date' className="mdc-textfield__input" {...restProps} />`

Full fiddle [http://jsfiddle.net/jyc5jgg2/](http://jsfiddle.net/jyc5jgg2/)

[2018-04-18 10:39] habelMarottipuzha commented on #746
@prateekbh  Clicking on field label currently not focusing text field. We have to click outside of field label to focus text field.
It works perfectly in mdc.

[2018-04-18 15:13] prateekbh commented on #746
@habelMarottipuzha is this reproducible in the same jsFiddle link as well?

[2018-04-18 15:31] prateekbh opened #747 "Pre-floating label prop"
As per #746
Add support for pre-floating labels

[2018-04-18 15:31] #746 closed

[2018-04-23 01:26] SleeplessByte opened #748 "TopAppBar is broken"
When using the `preact-cli` template and replacing `/Toolbar` and `/Toolbar/style.css` with `/TopAppBar`, looking at the `index.d.ts` files in both folders, using the same named exports:

[code]

Where the source of the error is actually:

[code]

My guess is that the ripple is simply not set-up correctly for the `TopAppBar`, but alas.

[2018-04-23 03:03] SleeplessByte opened #749 "Card: '16-9' is not valid JSX"
When using JSX, there is no easy way to make a card's media 16:9 ratio, as HTML attributes may never start with a number.
[code]

You can't get around this by quoting the parameter:

[code]

Instead you must resort to something like:
[code]

I suggest adding the alias `sixteenByNine` or even dropping the [invalid] prop name.

[2018-04-23 03:19] SleeplessByte opened #750 "CardActionButton does not behave like Button"
The `Button` component becomes an `a` if an `href` is given ([source](https://github.com/prateekbh/preact-material-components/blob/master/Button/Button.jsx#L25)), but the `Card.ActionButton` is always forced a button ([source](https://github.com/prateekbh/preact-material-components/blob/master/Card/Card.jsx#L37)).

According to the [spec](https://material.io/guidelines/components/cards.html#cards-

[2018-05-03 15:49] prateekbh commented on #748
should be updated in next push

[2018-05-03 18:05] prateekbh commented on #748
https://material.preactjs.com/component/top-app-bar

[2018-05-03 18:05] #748 closed

[2018-05-03 18:06] prateekbh commented on #749
would you like to PR?

[2018-05-03 18:09] prateekbh commented on #750
Actually this is super easy if you just use `import Button from ../Button` but the problem is that mdc-web does not support it. And it used to be like that which changed mid way.

Plus do you really have a use case of navigating somewhere from a dialog button? If yes, its a super simple fix.

Lemme know what u think?

[2018-05-09 23:16] hellsan631 opened #792 "Cannot read property 'destroy', Chips Error on node removal"
I have a list of chip components generated by a map:

[code]

Whenever I remove one of these chips, or change the page from one route to another, i get this error below:

[code]

was wondering if someone could point me in the right direction. would love to make a jsfiddle or something of that nature so i can reproduce this.

[2018-05-10 15:38] prateekbh commented on #792
what version are you at?

[2018-05-10 16:29] hellsan631 commented on #792
1.4.2, version 1.4.3 broke a lot of my styles

[2018-05-10 18:56] prateekbh commented on #792
Here, remove this small buggy line from the npm package.

https://github.com/prateekbh/preact-material-components/commit/edb6ae6765da3379344b01bb8b61fd5b0c265e7c#diff-ae07e90397ad91b734b436826de8e489L38

[2018-05-15 22:42] Dramloc opened #795 "Tabs within TabBarScroller are initialized multiple times"
I found an issue with `Tabs` within a `Tabs.TabBarScroller`. Here is a simple example to reproduce the issue (this can also be reproduced on the [Tabs Scroller example](https://material.preactjs.com/component/tabs)) :
[code]

### Details
When `Tabs` are used within a `Tabs.TabBarScroller`, this causes `MDCTabBar` to be constructed multiple times :
- Once in the [`MDCTabBarScroller.initialize`](htt

[2018-05-16 16:26] prateekbh commented on #795
Merging the two rounds reasonable. Do you want to open a PR for this? Else I'll take it but might take a few days

[2018-05-28 00:31] #795 closed

[2018-06-05 12:36] developit opened #825 "dist/index.js includes a copy of preact"
Currently it's [being bundled](https://unpkg.com/preact-material-components@1.4.5/dist/index.js), anyone using the default import of PMC may run into rendering issues.

[2018-06-05 15:58] #825 closed

[2018-06-14 16:12] aitoroses opened #829 "Typings problem in libs.d.ts"
I'm having the following error with the material template and typescript using the latests preact-cli:

preact-cli-plugin-typescript: 0.2.2
    requires  typescript version: 2.9.2

[code]

From what I see the Diff and Omit parametric types are using string as the extend type

[code]

And it should be `string | number | symbol`

[code]

With this update everything works perfect!

[2018-06-14 16:50] prateekbh commented on #829
CC: @YePpHa

[2018-07-05 12:50] cromefire opened #854 "Exlude package-lock.json from prettier ci"
As package-lock.json is auto generated it shouldn't be checked for style

[2018-07-14 11:06] mikaturk opened #859 "ImageList.AspectContainer has lower case c in typescript files"
Hey,

I'm using the ImageList component but the JS spells the AspectContainer as AspectContainer while in the typescript definition it says Aspectcontainer, which leads to the project failing to build with AspectContainer and it not working with Aspectcontainer.
ImageList/index.js:
[code]
ImageList/index.d.ts:
[code]

could you adjust the typescript typings to match the JS?

Thank you!

[2018-07-15 07:25] shc023 opened #860 "Chip: filter chips "selected" class out of sync with bound value?"
minimal repro here: http://jsfiddle.net/secvkhrf/

Not sure if I'm doing something wrong, but I'm just trying to change a state value when clicking the chip, which is also bound to the chip's |selected| property.

If you try clicking the chip in the fiddle, you'll see that on the first click, the state's value did change as expected, but the --selected class did not go away, so the chip is still l

[2018-07-17 15:16] prateekbh commented on #860
Its the way that chipset and chips are built that they are not very prop friendly.
If its only 1 chip, I suggest it using without chipset, otherwise use `chipsetRef.MDComponent.select(chipRef.MDComponent)`.

Not closing this, as we should implement a more friendly API here

[2018-07-18 06:05] aravindballa commented on #749
Is anyone working on this? Or can I take this up in my free time? 😀

[2018-07-20 05:39] dandv opened #869 "Double docs"
I thought I was seeing double, but for Chrome and FF concur: the documentation on the [home page](https://material.preactjs.com/) does show up repeated. Search for "opinionless" on the page, and you'll find `preact-material-components is a thin opinionless wrapper around material-components-web.` twice. One way to reproduce this is to scroll to the bottom of a page and reload.

![preact md double]

[2018-07-20 06:10] dandv opened #871 "Use a permanently visible drawer for the site"
A bit annoying when exploring components that when you reach the end of a component's docs, you need to scroll up then open the drawer, then find your place and click on another component. https://material.io/design/components/ has the drawer permanently visible per the guideline,

https://material-components.github.io/material-components-web-catalog/#/component/drawer does it best IMO.

[2018-07-20 07:12] dandv opened #872 "Add deprecation notice for Grid List"
Per https://material.io/develop/web/components/grid-lists/

Would help to add a notice at the top, before the user reads through the props and the sample code. They may also not click the original documentation link.

[2018-07-20 17:01] prateekbh commented on #869
ohhh right! that explains the double screenshot in the tests... Thanks.. Yep definitely needs a fix

[2018-07-23 02:51] #869 closed

[2018-07-24 11:48] anuragnagarkota opened #877 "How to change the default color?"
Hey

How can I change the default color of my app. ???

[2018-07-24 15:54] prateekbh commented on #877
Here's a small documentation around the same: https://material.preactjs.com/component/theme/

[2018-07-24 15:54] prateekbh commented on #877
gist being: declare custom vars as:
--mdc-theme-primary, --mdc-theme-secondary and so on

[2018-07-24 15:54] #877 closed

[2018-07-26 06:58] anuragnagarkota opened #880 "How can I change the width of Dialog?"
Hii

Can I send some custom style to Dialog Component (like {width:100}) in order to change the width??

[2018-07-26 15:46] prateekbh commented on #880
I just did a day or two ago.

Here's the sample code:
https://github.com/prateekbh/preact-timepicker/blob/master/demo/src/style/index.css#L56-L59

[2018-07-27 05:44] prateekbh commented on #877
I'll write about this in the material template repo. Sounds good?

[2018-07-27 06:22] cromefire commented on #877
@wei simply add the custom vars to the :root selector like:
[code]
Or to override global values by putting them on a normal class/id selector.
Using css custom vars has a syntax like:
`<property>: var(--mdc-theme-primary);`
But the mwc should include everything you need out of the box.
-------
All the variables: https://material.io/develop/web/components/theme/ under `Non-Sass customization`
Color

[2018-07-27 12:37] wei commented on #877
@prateekbh that will be awesome. I'm grateful for the help!

Thanks @cromefire, I've never used `:root` and `var()` in css so I thought it was sass : p. It works great now!

I ended up installing `sass-loader` and `node-sass`, renamed `src/style/index.css` to `.scss`, then added the following to allow theme variable overwrites:
[code]
I can also import scss for each component separately. It works

[2018-07-27 14:52] cromefire commented on #877
This is how I like to do it:
https://github.com/cromefire/preact-mwc-styled#usage
Look at `sass-resource-loader`.

[2018-07-27 16:44] renanlecaro opened #881 "Presentation website shows the homepage text twice at first load"
Step to reproduce :

1/ Open https://material.preactjs.com/ in a private navigation window

Expected behavior : show the homepage content once
See behavior : the content is shown twice

I suspect there's some service worker misconfiguration here

Attached video : https://www.youtube.com/watch?v=iopYx8VFxIg

[2018-07-27 17:05] prateekbh commented on #881
This was fixed in a recent deployment. But shouldn't be happening in a private window.

Your you tube vid is not available

[2018-07-27 17:20] renanlecaro commented on #881
@prateekbh sorry for the video, i just switched it to unlisted.

[2018-07-27 18:33] prateekbh commented on #881
it isnt really happening for me. can you close all incognitos and try again?

[2018-07-28 02:52] #880 closed

[2018-07-28 02:57] prateekbh commented on #877
Added a small writeup here: https://github.com/preactjs-templates/material/blob/master/README.md

[2018-07-28 03:35] prateekbh commented on #881
hmm i know where its coming from, will fix it tomorrow

[2018-07-28 05:34] prateekbh commented on #881
should be fixed now. please check

[2018-07-28 08:36] renanlecaro commented on #881
Yes, issue fixed, nice :)

[2018-07-28 17:16] #881 closed

[2018-08-04 22:45] krisboit opened #918 "1.5.1-alpha1 from npm seems to be broken"
Hey, i just stared a new project with preact, I installed the package from npm (1.5.1-alpha1) and i get this error
[code]

This is my preact component:
[code]

**Note**: with 1.5.0 it works fine.

[2018-08-04 23:46] prateekbh commented on #918
Cc: @cromefire_

[2018-08-05 12:46] cromefire commented on #918
@krisboit Yes will fix it  suggesting you use the stable version for now, it has the same features
@prateekbh didn't you publish it to alpha channel, but instead to latest?

[2018-08-05 13:05] cromefire commented on #918
@krisboit also suggesting that you try out if
[code]
works for you, because that will make use of your own babel infrastructure, so no useless transforms are applied (at-loader should handle that correctly).
That's because `preact-material-components/Button` is already (fully) transpiled to ES5, which is unneeded for newer browsers.

[2018-08-05 13:15] cromefire commented on #918
@prateekbh please unpublish `1.5.1-alpha1` and publish `1.5.1-alpha2` to `alpha` channel (using `npm publish --tag alpha`) because `npm` will install it for everyone who just types `npm install preact-material-components` which is bad for an alpha.

[2018-08-05 13:50] #918 closed

[2018-08-12 00:06] cromefire commented on #854
I don't think I saw an issue with this again but it's probably better to just exclude it

[2018-08-14 17:52] cromefire commented on #829
Should be okay by now

[2018-08-14 17:52] #829 closed

[2018-08-14 17:54] cromefire commented on #749
Fixed

[2018-08-14 17:54] #749 closed

[2018-08-14 18:15] cromefire commented on #444
Does this issue still persist with `1.5.1-beta1`? There are now `esm` builds that should work for transpilation. It seems to be an issue with transpiling already transpiled builds.
BTW Android 4.4 is [not supported by material components](https://material.io/develop/web/docs/migrating-from-mdl/#browser-support), use at your own risk.

Also this part shouldn't be needed:
[code]

Instead of this rul

[2018-08-14 18:16] cromefire commented on #611
How about now?

[2018-08-14 18:18] cromefire commented on #6
I will look at this shortly

[2018-08-14 18:30] cromefire commented on #750
It should be the case now

[2018-08-14 18:30] #750 closed

[2018-08-14 18:35] prateekbh commented on #6
yasss thank you for all the love ❤️

[2018-08-14 18:38] cromefire commented on #6
Not doing all maybe in a few days, on some you need to decide

[2018-08-16 07:54] mischkl opened #928 "Add full support for "checked" property to Switch"
At the moment the Switch component does not fully handle the `checked` property. Namely, if the `checked` property is set, the class `mdc-switch--checked` should be added to the top-level div (in addition to the class `mdc-switch`, which is also currently missing). See https://github.com/material-components/material-components-web/tree/master/packages/mdc-switch#user-content-initially-on-switch

[2018-08-16 18:12] cromefire commented on #6
[code]
_(prerender-loader)_

Challenge accepted

[2018-08-16 21:16] mikaturk commented on #859
I did `rm -rf node_modules/preact-material-components` and `npm i preact-material-components`
it updated to 1.5.0
and the issue is still present?

[2018-08-18 08:54] mikaturk commented on #859
I installed 1.5.1-beta1 and it's fixed, just not in the final build so i'll stick to the beta ;)

[2018-08-18 09:14] mikaturk commented on #859
everything else is broken in the betas and alphas so i'll wait out 1.5.1

[2018-08-18 20:29] prateekbh commented on #859
Everything else as in this package?

[2018-08-19 15:47] prateekbh commented on #928
Is there a like some css bug that this causes?

Cuz I checked this was fine without adding the class.

[2018-08-19 22:46] mischkl commented on #928
Hmm, it seems like this addition to the docs was just added for v0.39.0. TBH I haven't tested with that version but I suppose it is worth investigating.

[2018-08-20 11:26] mikaturk commented on #859
Yes
[code]

[2018-08-20 14:13] prateekbh commented on #859
@cromefire I guess we should add Babel runtime to dependencies instead of dev deps?

[2018-08-20 14:17] cromefire commented on #859
I thought I put it in runtime deps, I'll check

[2018-08-20 14:20] cromefire commented on #859
@mikaturk hotfix: add `@babel/runtime` to your project's dependecies
@prateekbh that's what #922 fixes, it's just not merged

[2018-08-20 15:25] prateekbh commented on #859
woops my bad.

@mikaturk can you confirm that fixes this error?

[2018-08-20 20:41] prateekbh commented on #859
published beta2

[2018-08-22 13:46] cromefire commented on #928
Will look into this

[2018-08-22 13:48] cromefire commented on #872
Now the case: https://material.preactjs.com/component/grid-list/

[2018-08-22 13:48] #872 closed

[2018-08-22 13:51] cromefire commented on #702
Yes looking into doing this

[2018-08-22 19:38] cromefire commented on #702
For the value you can actually use
[code]

[2018-08-22 19:39] cromefire commented on #702
But that only work's for `value`

[2018-08-22 19:54] cromefire commented on #792
As this shouln't apply to newer versions, I'm closing this

[2018-08-22 19:54] #792 closed

[2018-08-22 19:56] cromefire commented on #660
Seems to be fixed

[2018-08-22 19:56] #660 closed

[2018-08-22 19:58] cromefire commented on #593
The scss in this is just copied from [material-components/material-components-web](https://github.com/material-components/material-components-web) you should look / ask there.

[2018-08-22 19:58] #593 closed

[2018-08-22 20:00] cromefire commented on #548
Should work: https://github.com/prateekbh/preact-material-components/blob/87f9dd2dc467e373c110a44f65b2ae15af6c622f/ts/List/index.tsx#L161

[2018-08-22 20:00] #548 closed

[2018-08-22 20:02] cromefire commented on #583
Should be fixed

[2018-08-22 20:02] #583 closed

[2018-08-22 20:04] cromefire commented on #611
This one doesn't seem to be applicable at all anymore

[2018-08-22 20:04] #611 closed

[2018-08-22 20:10] cromefire commented on #6
Ref #929

[2018-08-22 20:12] cromefire commented on #444
Feel free to comment, if this is still a thing, closing this for now

[2018-08-22 20:12] #444 closed

[2018-08-28 14:14] r1cs1 opened #970 "Programatically control active tab for tabbar"
Hi guys,

I'm trying to programatically control active tab for tabbar, however neither activeTabIndex on TabBar, nor active prop on Tab is working.

Am I missing something or that's expected?

Thanks,
Richard

[2018-08-28 19:07] cromefire commented on #970
Can you share how you try to do this? I think I know what's going wrong and if so a fix is on the way.

[2018-08-28 19:39] replaysMike commented on #970
Oh man I just came here to ask that exact question as well. I'll show you what I did, but it's an awful solution in my opinion but the docs here are pretty scarce in detail.

[code]

I hope someone else can chime in and indicate the proper way to do things, I've spent a few hours looking at the examples and source with no answer.

[2018-08-28 19:42] replaysMike commented on #970
In addition to that, for me I get this when trying to use the TabBar (since Tabs is marked as deprecated):

`Module not found: Error: Can't resolve 'preact-material-components/TabBar'`
¯\_(ツ)_/¯

[2018-08-28 19:50] r1cs1 commented on #970
Here's a dummy example, because my code too complex to paste here. I hope I didn't mess it up .

Also, I'm using 1.5.1-beta1 because that's the only one that compiles with little mods with my typescript setup

[code]

[2018-08-28 19:56] cromefire commented on #970
Yes I think it's a thing that is linked to #931

[2018-08-28 19:57] cromefire commented on #970
@replaysMike I think your version is too old for `TabBar`

[2018-08-28 20:01] cromefire commented on #970
@r1cs1 your example seems fine, as long as that `+event.target.dataset.index` line works fine. I will look into getting that fixed.

[2018-08-28 20:07] replaysMike commented on #970
@cromefire indeed you seem to be right, I'm running 1.5.0 (default installed for `npm install preact-material-components`)

[2018-08-28 20:11] cromefire commented on #970
Yes the docs are already representing the beta version and there is currently no good way to see the older docs

[2018-08-28 20:34] cromefire commented on #970
@r1cs1 Please try `1.5.1-experimental7` it should fix both `activeTabIndex` and `active`

[2018-08-28 20:54] cromefire commented on #970
I'm not sure, if `active` is working, it seems to have problems, I don't even know if that's supported anymore or there may be a problem with `Tab` in general.

[2018-08-28 21:04] r1cs1 commented on #970
@cromefire now active seems to be working when it's set outside of TabBar. I mean if I set the state NOT via onclick event on the Tab elements. Basically what I want to achieve is to cancel tab switching based on some conditions. However it seems internal click handlers are more powerful :)

[2018-08-28 21:06] r1cs1 commented on #970
@cromefire  On the other hand, I always get the following error since 1.5.1-xxx

[code]
Replacing it by this code seems to solve it, but not sure if it causes any other issues or if it's correct liek that:

[code]

[2018-08-28 21:10] cromefire commented on #970
Yes that's something that needs to be changed doing that tomorrow (CEST).

[2018-08-28 23:40] replaysMike commented on #970
Not trying to hijack the thread, but upgrading to latest preact didn't solve the issue. I even dumped node_modules and reinstalled, upgraded babel but still no luck. Odd.

[code]

[2018-08-29 05:54] prateekbh commented on #970
Yeah tabBar isn't really a prop friendly underneath.
Please use `.MDComponent.setActive()` on the ref of tabbar

[2018-08-29 05:54] prateekbh commented on #970
Also same for Tabs

[2018-08-29 06:04] prateekbh commented on #970
Example: https://1040718yoq.codesandbox.io

[2018-08-29 21:07] r1cs1 commented on #970
@prateekbh Thanks, man! `.MDComponent.activateTab(index)` on the TabBar works like a charm

[2018-08-29 21:31] cromefire commented on #970
So as it seems to work like this I'll close it.

[2018-08-29 21:31] #970 closed

[2018-08-30 20:16] lchimaru opened #972 "How do you test your app with p-m-c as dependency"
I'm using preact-material-components as package for my typescript preact project. I really love your work, especially last update which introduce ts versions of each component (smaller bundles rocks!).

But during development I ran into problem with unit testing, as ts-node transpiling only ts(x?) files in my project, I receive "Unexpected token import" error on every component which use one of pr

[2018-08-30 22:05] prateekbh commented on #972
Thank you so much for your kind words, all credit to @cromefire and @yepha.

As for your question: Before using these on nice, u'll have to transpiled them.

[2018-08-31 13:54] cromefire commented on #972
You should use the ones from the `esm` directory, they are just plain transpiled js files.
From your error I'm guessing, you are running in nodejs, which doesn't understand `import` (es6) by default. Try running node with `--harmony` please.

[2018-08-31 13:59] cromefire commented on #972
See https://nodejs.org/en/docs/es6/

[2018-08-31 14:02] cromefire commented on #972
For more information on the builds see the [docs](http://material.preactjs.com/).

[2018-09-05 10:08] #928 closed

[2018-09-05 10:17] chrisrymer opened #977 "TabBar Example - Missing css"
I have just been taking a look at this and wanted to implement the TabBar. After following the docs (
https://material.preactjs.com/component/tabbar/) I received an error regarding the referenced css file.

```import 'preact-material-components/TabBar/style.css';```

Looking through the source I can see the css file does not exist and needs to be extracted from the master css file.

[2018-09-05 10:23] chrisrymer opened #978 "import base style.css errors on build"
This is possibly a webpack issue and inexperience problem on my part. But after following the guidelines to allows all css to be loaded within the app

ie. ``` import 'preact-material-components/style.css'; ```

webpack throws a major hissy with the following

```Unrecognised input. Possibly missing opening '{' in /node_modules/preact-material-components/style.css (line 6, column 5136)```

**Webpa

[2018-09-05 10:59] prateekbh commented on #977
fixed in 1.5.2

[2018-09-05 10:59] #977 closed

[2018-09-05 11:00] prateekbh commented on #978
oh your config does not recognizes css variables, i am not sure how to fix it though

[2018-09-05 11:00] #978 closed

[2018-09-05 11:01] prateekbh commented on #978
just closing cuz its a webpack issue, feel free to comment

[2018-09-05 12:16] cromefire commented on #137
Named import is possible since `1.5.1` now and I am looking forward to make that optional, which shouldn't break anything. Also the webpack thing seems to be fixed and name clashing is also prevented.

[2018-09-05 12:26] chrisrymer commented on #978
OK understood. Thanks

[2018-09-05 12:50] cromefire commented on #978
As `css-loader` and `postcss-loader` don't have problems with it, I would probably have a look on the `less-loader`.

[2018-09-07 12:45] lchimaru commented on #972
Ok, got it, I managed to run tests with jest + ts-jest. It's important to remove excluded node_modules packages from tsconfig.json. Thanks for help!

[2018-09-07 13:31] lchimaru opened #984 "Select seems to remembering state"
From last (1.5.2) update Select component seems to be working a little bit different. It seems to remembering chosen value even if it is rerendered . I believe none of option should be selected if component is mounting (if selectedIndex is not set), as it was working before. Please take at look at example from CodeSandbox:
https://codesandbox.io/s/xpq5z85vpq

[2018-09-08 20:08] prateekbh commented on #984
U r showing hiding the component, why is that not supposed to remember state?

[2018-09-09 07:13] Jamdan2 opened #985 "How to use permanent drawer with grid layout?"
Hello, I am new to these components and I would like to build a layout grid accompanied by a permanent side drawer. However, when I simply place the two components next to each other in the JSX markup one ends up on top of the other, which is not the desired behavior. The mdc docs make it sound like these components should just work together, so I figure I must be missing something obvious. How sh

[2018-09-09 13:06] prateekbh commented on #984
can you check if this was fine in 1.5.1?

[2018-09-09 19:34] lchimaru commented on #984
Nope, none of those versions have Select/TextField components working different.

[2018-09-10 05:43] lchimaru commented on #984
Yup, you're right, I didn't noticed that. So it looks like it's issue more for preact, not preact-material-components. I'm closing this issue, thanks for investigation :)

[2018-09-10 05:43] #984 closed

[2018-09-10 09:05] cromefire commented on #984
I might not recall this correctly but this might actually be a browser thing

[2018-09-10 16:36] prateekbh commented on #985
TBH i've never played with permanent drawer, but are you saying the drawer is z-indexed on top of the grid?

[2018-09-12 04:30] greenkeeper[bot] opened #995 "An in-range update of babel7 is breaking the build 🚨"
## Version **7.0.1** of the **babel7** packages was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Fmonorepo.babel7-7.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Monorepo release group
    </th>
    <td>
      <a target=

[2018-09-12 08:04] Jamdan2 commented on #985
No, I mean with no additional styling, the drawer blocks the layout grid, and bumps it lower on the y axis, like this:

--------
       |
drawer |
       |
       |
       |
---------------------------------
 layout grid

I did find a fix using flex boxes. But aren't they supposed to work together by default? Or am I mistaken? By the way this also applies to the persistent drawer when it is opened

[2018-09-12 08:14] cromefire commented on #985
Flex boxes work really well everywhere, you just have to handle smaller screens yourself with thing like media queries

[2018-09-13 14:01] greenkeeper[bot] opened #996 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.18.0` to `4.18.1`.

🚨 [View failing branch](https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Fwebpack-4.18.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of t

[2018-09-13 17:56] #996 closed

[2018-09-14 07:03] greenkeeper[bot] opened #997 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.18.1` to `4.19.0`.

🚨 [View failing branch](https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Fwebpack-4.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of t

[2018-09-17 01:41] prateekbh opened #999 "Add mdc-tab/scroller packages"
Mdc-tab-bar's styles are segregated into separate packages, we need to add these packages for their style.css or just copy these styles into mdc-tab-bar's.

Later might be easier

[2018-09-17 01:41] prateekbh commented on #999
@cromefire can u take this up?

[2018-09-17 04:58] cromefire commented on #999
So the style from scrolled just have to end up in the Tab directory?

[2018-09-17 08:19] cromefire opened #1000 "Implement Ripple component"
Implementat a `Ripple` component that allows you to just let an area ripple (See https://material-components.github.io/material-components-web-catalog/#/component/ripple)

[2018-09-17 09:08] cromefire opened #1001 "Implement Shape"
Implement `Shape` component (See the [docs](https://material.io/develop/web/components/shape/))

[2018-09-17 14:59] prateekbh commented on #999
Well I thought about this and adding the packages would be better as our script will copy the case and scss. No need to implement the js

[2018-09-17 15:20] cromefire commented on #999
Didn't implement any js See here #1002

[2018-09-17 16:35] prateekbh commented on #123
https://material.preactjs.com/component/theme/

[2018-09-17 16:35] #123 closed

[2018-09-17 21:03] #995 closed

[2018-09-17 21:03] #997 closed

[2018-09-17 21:23] prateekbh opened #1003 "Dont be a thin opionionless wrapper over `mdc-web`"
This library started as a thin opinion-less wrapper over mdc-web. Which meant that we were just a declarative preact layer above whatever mdc-web ships.

Also this was my personal decision because `mdc-web` was/is a great lib to build modern web apps. They had extensive set of UI components, all served separately which was superb for perf. They **had** gestures and every thing and seemed the perfe

[2018-09-17 21:41] porfirioribeiro commented on #1003
I get your feeling, i am also wrapping some material components on my company frontend, as our design is mostly based on Material, it helps allot to use their css to base our components, and it's frustrating that many updates just break most of my code.
I hated when they decided to remove the non boxed version of textfield, my designer hated it even more :disappointed: so i had to override some st

[2018-09-17 21:46] prateekbh commented on #1003
@porfirioribeiro should i safely assume you'd prefer to rather support stabilization of `material-components-web-react` and making sure it supports preact?

Also same feels dude :)

[2018-09-18 01:02] mellogarrett commented on #1003
Hey all,

Im in a similar position where I’m not using `preact-material-components` anymore in any work projects. We’ve started to use MaterialUI on new projects 😕

[2018-09-18 07:15] cromefire commented on #1003
Also we should consider breaking down the components into single packages like many packages do these days, because then we fix and release them individually.

Also  we should consider writing some documentation on our structure and strategy before refactoring and document breaking changes and how to fix them in the future in some kind of documentation so we can just point people to that.

[2018-09-18 14:16] prateekbh commented on #1003
I'll wait to hear from @yepha and @filoozom

[2018-09-18 14:28] filoozom commented on #1003
I just started a masters degree and run a company on the side, so honestly I don't think that I'll have time for this project, sorry. 🙁

I can still handle the infrastructure / Travis part of things, but that's pretty much it, maintaining or reviewing PR would probably be a bit too time consuming.

[2018-09-18 15:51] prateekbh commented on #1003
congrats @filoozom, you've been great help!!! 🤗

[2018-09-18 16:01] greenkeeper[bot] opened #1004 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.19.0` to `4.19.1`.

🚨 [View failing branch](https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Fwebpack-4.19.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of t

[2018-09-18 16:16] porfirioribeiro commented on #1003
Yes @prateekbh would be nice if we see `material-components-web-react` more stable and more feature-full compared with `material-components-web`.

Of course supporting preact would be great.
That and TypeScript, as soon you get used to it it's hard to go back :joy:

[2018-09-19 04:47] prateekbh commented on #1003
![tumblr_oeblsgtp1p1v1qzojo1_500](https://user-images.githubusercontent.com/5960497/45731183-24613a00-bb8b-11e8-8486-f7b57d3961ee.gif)
Ok let's this thing open and make it better.
Here's a few things I'd want to do.
- create a project and clear tasks for 2.0
- release the current update in hand
- write a public blog post about the change
- stop further updates till 2.0 unless super important
- dec

[2018-09-19 11:31] developit commented on #1003
It would be good to have a rough guideline like "PMC implements material design, using material-components-web where possible".

I'm extremely supportive of this direction. This library is important for Preact's ecosystem and community, and we haven't done enough to highlight that. PMC should have it's own Guide section on the Preact site, and we should promote it in our boilerplates. We should fe

[2018-09-19 12:33] cromefire commented on #1003
I think out guild line should be to implement components that respect the material guidelines: https://material.io/design/

[2018-09-19 17:08] greenkeeper[bot] opened #1005 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.14.2` to `1.14.3`.

🚨 [View failing branch](https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Fprettier-1.14.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency

[2018-09-20 13:13] greenkeeper[bot] opened #1006 "An in-range update of lint-staged is breaking the build 🚨"
## The devDependency [lint-staged](https://github.com/okonet/lint-staged) was updated from `7.2.2` to `7.3.0`.

🚨 [View failing branch](https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Flint-staged-7.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lint-staged is a devDep

[2018-09-22 11:28] greenkeeper[bot] opened #1008 "An in-range update of eslint-config-prettier is breaking the build 🚨"
## The devDependency [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) was updated from `3.0.1` to `3.1.0`.

🚨 [View failing branch](https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Feslint-config-prettier-3.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2018-09-24 12:02] photz opened #1009 "Slider not re-rendered when the value prop changes"
As the title says, I'm using the Slider component and noticed that the thumb stays at its old position when the value prop changes.  I think what's missing is only an implementation of componentWillReceiveProps which checks if the value has changed and calls setValue if necessary?

[2018-09-24 14:01] photz opened #1010 ""Can't have a focus-trap without a focusable element" in Drawer"
I just upgraded my app to 1.5.3 from the master branch and the only thing that I haven't gotten to work again is the Drawer component, which raises the following exception:
`index.js?79b7:169 Uncaught Error: You can't have a focus-trap without at least one focusable element`

![focus-trap](https://user-images.githubusercontent.com/856205/45956492-ecd31180-c012-11e8-8037-4c421bf312a0.png)

This als

[2018-09-24 16:12] cromefire commented on #1009
yes it's missing in `componentsWillUpdate()`

[2018-09-24 16:33] prateekbh commented on #1010
yep sorry we're in middle of updating the docs, here's how u can do this:
https://github.com/prateekbh/preact-material-components/blob/master/docs/src/components/menu/index.js#L71-L89

**Note:** One of them has to have `selected` prop.

P.S.: We know its horrible, thus we'll take more control of these components in 2.0

[2018-09-24 16:34] prateekbh commented on #1009
@cromefire isn't `mdcNotifyProps` for one these things?

[2018-09-24 16:35] cromefire commented on #1009
Value doesn't behave with it because undefined

[2018-09-25 07:58] photz commented on #1010
In the file you referenced the MDComponent property is accessed from outside, but is now protected, so it doesn't compile.

[2018-09-25 11:45] cromefire commented on #1010
@photz please use an old version or `@ts-ignore` for now 2.0 will solve that

[2018-09-25 14:51] prateekbh commented on #1010
@cromefire can u fix this I. 1.5.3?

[2018-09-25 17:55] #1004 closed

[2018-09-25 21:51] prateekbh commented on #1010
oh i got what u meant by that, yep lets just wait till 2.0

[2018-09-27 22:48] prateekbh commented on #1001
shape package is deprecated now
https://github.com/material-components/material-components-web/pull/3626

[2018-09-27 22:49] #1001 closed

[2018-09-27 22:49] #264 closed

[2018-09-28 17:14] #1010 closed

[2018-09-29 11:39] cromefire commented on #1009
@photz if you open a PR quickly with the changes, we can squeeze this into `1.5.3`

[2018-09-29 11:43] #1008 closed

[2018-09-29 11:43] #1006 closed

[2018-09-29 11:43] #1005 closed

[2018-09-29 11:44] #985 closed

[2018-09-29 11:45] #999 closed

[2018-09-29 11:47] cromefire commented on #6
Fixed by #982

[2018-09-29 11:47] #6 closed

[2018-09-29 11:48] cromefire commented on #265
This could be interesting for `2.0`

[2018-09-29 11:49] #240 closed

[2018-09-29 11:51] #739 closed

[2018-09-29 11:54] cromefire commented on #854
@prateekbh this is still a thing, can you fix it?

[2018-09-29 11:55] cromefire commented on #137
We should remember this for `2.0`

[2018-09-29 11:56] cromefire commented on #1000
Scheduling this for `2.0`

[2018-09-29 17:08] prateekbh commented on #854
I don't know let's put it to 2.0

[2018-09-29 17:46] cromefire commented on #854
It's not version dependent as you need to configure it with prettier CI just wanted to poke it

[2018-09-29 17:55] cromefire opened #1044 "Mark as free of side effects"
Add `"sideEffects": false` to `package.json` to allow webpack to treeshake

[2018-09-30 09:34] cromefire commented on #1009
Okay I did a PR

[2018-09-30 18:15] #1009 closed

[2018-10-05 00:24] yepard opened #1050 "Implement Bottom Navigation component"
can't find Bottom Navigation component:
https://material-ui.com/demos/bottom-navigation/

also, is somewhere specified which version of material-ui is supported?
Thanks!

[2018-10-05 03:33] prateekbh commented on #1050
Oh actually this is based on material components web, not material UI.
But this can be done using tabs easily

[2018-10-05 06:38] cromefire commented on #1050
This is some thing that would be nice to have in `2.0`

[2018-10-05 06:40] cromefire commented on #1050
Just because it's a common style in Material Design on Android that's missing in material components web

[2018-10-05 13:02] yepard commented on #1050
Ok thank you so much :)

[2018-10-10 22:01] cbetta opened #1087 "Issue with IconButton"
I have the following in place:

[code]

And I get no errors, yet the style doesn't load.

<img width="435" alt="screenshot 2018-10-10 at 22 59 54" src="https://user-images.githubusercontent.com/7718/46768489-393f7200-cce0-11e8-9e20-dd6b1307adba.png">

I have the feeling this has recently changes, as the docs are vague on it as well and [mention a `IconToggle` instead](https://material.preactjs.com

[2018-10-11 07:37] cbetta commented on #1087
That does not seem to work.

[2018-10-11 15:43] prateekbh commented on #1087
Ah sorry, did you include the material fonts in ur web app?
[code]

[2018-10-12 15:35] cromefire opened #1088 "2.0"
Tracks progress and discussions around `2.0`

[2018-10-12 15:37] cromefire commented on #1088
if we want to modularize this into multiple packages we need an organization. @prateekbh you can create one here: https://www.npmjs.com/org/create

[2018-10-12 16:43] prateekbh commented on #1088
done, also lets use lerna to make this a monorepo

[2018-10-12 16:48] prateekbh commented on #1088
https://www.npmjs.com/settings/preact-material-components/members

[2018-10-12 17:18] cromefire commented on #1088
I'm currently working on it

[2018-10-12 17:20] cromefire commented on #1088
Lena looks very nice

[2018-10-12 18:15] prateekbh commented on #1088
thanks...  i am kinda super occupied til mid nov. 😞

[2018-10-12 18:22] cromefire commented on #1088
Would you mind using yarn ? It's faster and is about the same as npm (the only difference is yarn add <package> vs npm install <package> )

[2018-10-13 14:45] cbetta commented on #1087
Yes I have that in place too, and Icons are working fine as is

[2018-10-13 15:08] cromefire commented on #1087
Can you have a look at the DOM?

[2018-10-16 07:52] cbetta commented on #1087
It seems to not actually wrap the text into an icon.

![screenshot 2018-10-16 at 08 52 33](https://user-images.githubusercontent.com/7718/47000767-dfe0a400-d120-11e8-8754-0ba11c367f2c.png)

[2018-10-16 11:56] cromefire commented on #1087
I will have a look at that, it seems like there is a missing class

[2018-10-17 17:19] prateekbh commented on #1087
Sorry this was a bug in our docs, deploying a fix right now.

Here's how the code for this component looks like:
https://github.com/prateekbh/preact-material-components/blob/master/docs/src/routes/icon-button/index.js#L62-L65

[2018-10-17 19:03] greenkeeper[bot] opened #1094 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.20.2` to `4.21.0`.

🚨 [View failing branch](https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Fwebpack-4.21.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of t

[2018-10-18 01:12] paulkatich opened #1095 "Checkbox in a List"
Seems like the checkbox is implemented differently than the current implementation of Material components.  The material component has span , svg and input in its implementation. But looks like preact-material-components is implemented differently with div,input svg and span. This is not rendering  the UI as expected. I cant render a checkbox in a list properly.

https://material-ui.com/demos/list

[2018-10-18 09:08] cbetta commented on #1087
Ah that makes a lot more sense! Tnx!

[2018-10-18 09:08] #1087 closed

[2018-10-18 21:47] prateekbh commented on #128
right, this was changed to native event.
deploying the fixed documentation right now.

you can use `e.target.selectedIndex`

[2018-10-19 03:06] paulkatich commented on #1095
My search directed to me the material-ui library which is different implementation.

[2018-10-19 03:06] #1095 closed

[2018-10-19 05:15] dandv opened #1097 "Module not found: Error: Can't resolve 'preact-material-components/Toolbar/style.css'"
I have a Preact app generated with the CLI a few months ago, and the standard header/index.js contains

    import 'preact-material-components/Toolbar/style.css';

When upgrading from 1.5.2 to 1.5.3, I get

Is this one of the breaking changes mentioned in #1003? I don't see a "Toolbar" at https://material.preactjs.com/component/, only Top AppBar, but I don't recall if there was a Toolbar there to

[2018-10-19 14:44] cromefire commented on #1097
No that is for `2.0` not `1.5.3`

It got removed here: #1007

Toolbar is deprecated (see [here](https://material.io/develop/web/components/toolbar/)), you should use `TopAppBar` instead. Sorry for the inconvenience we are currently trying to make the transition to new mdc versions less painful

[2018-10-26 13:55] #1097 closed

[2018-10-27 15:01] cromefire opened #1105 "Remove all componentWillRecieveProps calls"
See https://github.com/prateekbh/preact-material-components/pull/1049#discussion_r228610605

[2018-10-31 03:40] paulkatich opened #1142 "Card and Primary action"
Does the card component support primary action ? I would like a user  to navigate on click of the card to a new screen. This seems to be supported by material io web component(mdc-card__primary-action).is it included as a feature by this framework. Any plans to implement it ?

[2018-10-31 05:07] prateekbh commented on #1142
This should be supported in the current version, however looks broken currently.
I can patch this and respond with the link to the documentation in 48 hrs
Cc: @cromefire

[2018-10-31 06:39] prateekbh commented on #1142
I did it here https://github.com/prateekbh/preact-material-components/tree/master/docs/src/routes/card

With the help of css

[2018-11-01 22:45] prateekbh commented on #1142
here's updated example and published a new version
https://material.preactjs.com/component/card/

[2018-11-01 22:45] #1142 closed

[2018-11-02 03:39] greenkeeper[bot] opened #1147 "An in-range update of puppeteer is breaking the build 🚨"
## The devDependency [puppeteer](https://github.com/GoogleChrome/puppeteer) was updated from `1.9.0` to `1.10.0`.

🚨 [View failing branch](https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Fpuppeteer-1.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

puppeteer is a devDep

[2018-11-02 03:58] dandv opened #1148 "What happened to TemporaryDrawer?"
Seems gone (had an old app generated with preact-cli) and it's also gone from https://material.preactjs.com/component/drawer/. (BTW that page has a syntax error, `drawerOpened = false`).

Nothing in the Changelog.

[2018-11-02 03:59] paulkatich commented on #1142
@prateekbh The buttons are fixed. But material io has the ink ripple effect when you click the image on the card. Is this feature implemented ?

[2018-11-02 05:01] liudonghua123 commented on #1097
I have the same problem.

[2018-11-02 06:43] prateekbh commented on #1142
can you try adding `ripple` prop to the buttons?

[2018-11-02 06:44] prateekbh commented on #1148
yep, it was changed by `mdc-web`. can you pin your version to specific version?
we are addressing these in pmc2.0

[2018-11-02 15:27] CragVFX opened #1149 "Table Component (Enhancement Request/ Inquiry)"
Are there any plans to support a `<Table/> `Component with 'preact-material-components'?

[2018-11-02 16:06] prateekbh commented on #1149
We can take this as a feature request for post 2.0 release.
But will take some time.

[2018-11-07 01:55] greenkeeper[bot] opened #1150 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/cli](https://www.npmjs.com/package/@babel/cli) was updated from `7.1.2` to `7.1.5`.
- The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.1.2` to `7.1.5`.
- The `devDependency` [@babel/plugin-proposal-async-generator-functions](https://www.npmjs.com/package/@babel/plu

[2018-11-07 03:58] greenkeeper[bot] opened #1151 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.14.3` to `1.15.0`.

🚨 [View failing branch](https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Fprettier-1.15.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency

[2018-11-08 19:50] thadeu commented on #970
what is this repository?

[2018-11-08 21:00] prateekbh commented on #970
nuka carousel

[2018-11-08 21:10] thadeu commented on #970
@prateekbh I'd like see the code

[2018-11-09 08:57] cromefire commented on #970
https://codesandbox.io/s/1040718yoq
That looks like something that would be nice to include in the `2.0` Tabs (in like a subclass)

[2018-11-09 11:31] thadeu commented on #970
@cromefire thanks so much!

[2018-11-15 11:10] mikaturk opened #1157 "Select element has a non removable default element"
When creating a Select element there is an extra element inserted before all my other options which I'd like to disable but there is no way to do this :( could we have an option to disable this?

JSX:
![screenshot](https://screenshot.mikaturk.nl/PositiveExcitableGrandioseAutomatic)
HTML:
![screenshot](https://screenshot.mikaturk.nl/ReflectingAnimatedQuizzicalSpectacular)

[2018-11-23 13:33] arma7x opened #1159 "Bug on close Drawer"
How to close Drawer correctly? The only way is by set dismissible={true} and modal={false} then trigger onClick to close it.

[2018-11-24 17:37] cromefire commented on #1159
https://github.com/prateekbh/preact-material-components/blob/5ee20a571876fa300788e2f7a8e5cce1b5e3c19e/ts/Drawer/index.tsx#L90
https://material.io/develop/web/components/drawers/#mdcdrawer-properties-and-methods

Get a reference and set `ref.MDComponent.open` to `true` or `false`

[2018-11-24 17:54] cromefire commented on #1159
Feel free to comment if this does not solve the problem and I'll reopen

[2018-11-24 17:54] #1159 closed

[2018-11-27 15:03] greenkeeper[bot] opened #1160 "An in-range update of tslint-config-prettier is breaking the build 🚨"
## The devDependency [tslint-config-prettier](https://github.com/prettier/tslint-config-prettier) was updated from `1.16.0` to `1.17.0`.

🚨 [View failing branch](https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Ftslint-config-prettier-1.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the bu

[2018-11-30 10:58] gopalramadugu opened #1161 "TopAppBar and router"
I created an app with topaapbar and some basic routing functionality ex: when I click a submit button on the form the app goes to next page. I see a small issue with top app bar. The top app bar title is stale and still shows the old page title on the top app bar. Is there a way to change this behavior to reflect the correct page title on top app bar when I use preact router.

[2018-11-30 12:14] cromefire commented on #1161
The router has some kind of `onChange` event listener and or you can change it on button press.
To change the TopAppBar title you just need to change the text in `TopAppBar.Title`
e.g:
[code]
Then to change the title:
[code]

Please either close the issue, if this helps, or ask more specifically.

[2018-12-01 16:17] gopalramadugu commented on #1161
I tried below but the title doesnt change. The handle submit function gets invoked on click of button.

[code]

[2018-12-03 01:16] prateekbh commented on #1161
I can see the title changing. What's wrong?

[2018-12-03 05:48] cromefire commented on #1161
But only in module view some how

[2018-12-03 06:14] cromefire commented on #1161
![screenshot](https://user-images.githubusercontent.com/26320625/49356127-ea53fe80-f6ca-11e8-915f-4b5b4194ae32.jpg)
As you see I pressed the right one

[2018-12-03 06:17] cromefire commented on #1161
Tested in Firefox, if that matters

[2018-12-03 08:29] andria-dev opened #1162 "Incorrect docs for IconButton"
The docs for `<IconButton>` are clearly not the correct docs, they show an example for `<IconToggle>`:

[code]

This section should be renamed **"IconToggle"** and there should be a separate section for **"IconButton"**.

[2018-12-03 08:35] ChrisBrownie55 opened #1163 "Page title does not reflect app bar title on docs until reload"
While on the docs, when you reload the page, the page title reflects what page you are on. When you switch pages, say from _"Button"_ to _"Chips"_, the page title stays the same, it reads _"Button"_.

The page title should probably reflect the current page (I don't know if that will improve SEO but it sounds like it might).

[2018-12-03 11:48] cromefire commented on #1163
Yes known bug we are currently working on 2.0 so this is not the top priority, but I'll leave this as a reminder

[2018-12-03 11:54] cromefire commented on #1162
Yes the docs are not totally up to date, they were forked from icon toggle, so there may be elements that are not renamed yet.

[2018-12-06 09:36] eligao opened #1189 "Switch not responding to props change"
When the props (`selected `, `disabled`) changes after a Switch component is initiated , it does not change its shape accordingly, thus I cannot create a controlled Switch.
The props only affects the initial render of a Switch.
A quick example to reproduce the bug:
https://codesandbox.io/s/jvkx6zoj75

This might be caused by the upstream as stated here:
https://github.com/material-components/mater

[2018-12-06 18:29] prateekbh commented on #1189
Thanks for the repro.. will look into it

[2018-12-06 18:32] eligao commented on #1189
I've already created a PR addressing this #1190

[2018-12-06 19:07] cromefire commented on #1189
@prateekbh the pr is ready to be merged

[2018-12-06 19:08] prateekbh commented on #1189
taking a look now

[2018-12-06 20:02] greenkeeper[bot] opened #1191 "An in-range update of preact is breaking the build 🚨"
## The devDependency [preact](https://github.com/developit/preact) was updated from `8.4.0` to `8.4.1`.

🚨 [View failing branch](https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Fpreact-8.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

preact is a devDependency of this p

[2018-12-09 18:39] #1189 closed

[2018-12-10 12:09] gopalramadugu commented on #1161
@prateekbh Just wanted to see if you had chance to look in to this. Any other suggestions to fix this ?

[2018-12-10 12:42] cromefire commented on #1161
I had also problems with `hmr` and rerendering

[2018-12-10 13:16] cromefire commented on #1161
I tested it again with chromium and firefox desktop and it does work in chromium, but not in firefox.

I changed it to only use html5 elements and no mwc at all, but it still does not work. I will report that to preact.

[2018-12-10 15:55] cromefire commented on #1161
developit/preact#1270

[2018-12-10 20:49] johnhaitas opened #1192 "TextField Safari: cursor position resets to end of text input whenever value changes"
In Safari, whenever editing the value in a `TextField`, the cursor position jumps to the end of the line.

something like the following will reproduce the bug (using `linkstate` for simplicity
[code]

A PR ~~has already been created for `material-components/material-components-web` https://github.com/material-components/material-components-web/pull/4160~~ is here: #1193

[2018-12-10 21:19] cromefire commented on #1192
Well what should we do about that? It's an mdc bug, so there's nothing we can do.

I'll close this, but feel free to comment, if I miss understood you.

[2018-12-10 21:30] cromefire commented on #1192
Sorry I just saw that we where also doing this

[2018-12-10 21:41] cromefire commented on #1161
Okay this bug was related to a thing in the code sandbox template, I will setup a template myself and look if it works

[2018-12-12 00:12] #1192 closed

[2018-12-12 05:07] gopalramadugu opened #1194 "Textfield and full width"
If I use the text field and add fullwidth ={true}. The style reverts to plain background instead of white smoke which is the default background color for the div. This looks like a bug.

[2018-12-12 07:16] cromefire commented on #1194
We don't change anything in the styles, that is something the mwc did.

You can:
- fix it your self by overriding it with css
- report a bug (if there isn't already one) at [the mwc bug tracker](https://github.com/material/material-components-web/issues)

Would recommended both.

[2018-12-12 07:17] cromefire commented on #1194
Tell me if I got it wrong, but closing it for now

[2018-12-12 07:17] #1194 closed

[2018-12-16 14:28] tschnoelzer opened #1195 "Make TopAppBar transparent over full page background image"
Hi team,

what is the way to show a full page background image over TopAppBar?

I can not get it transparent showing to wrapping div background image...

.bg{
    background: url(/assets/images/pre.jpeg) no-repeat 0 0;
    background-size: cover;
}

return (<div className="bg">
            <TopAppBar onNav={(e) => alert(e)} className="topappbar">
                <TopAppBar.Row>

[2018-12-16 14:35] #1195 closed

[2018-12-16 14:36] tschnoelzer commented on #1195
Sorry guys, it was just the missing 100vh on the bg class.

[2018-12-20 19:13] aramkoukia opened #1199 "Enhanced Material Select Component"
Hello
Is there support for Enhanced Select that we can use?
Like this one here (Enhanced Filled one):
[https://material-components.github.io/material-components-web-catalog/#/component/select](https://material-components.github.io/material-components-web-catalog/#/component/select)

Looks like the Preact Material Select only renders the native `select`?

[2018-12-22 04:38] gopalramadugu opened #1200 "Programmatically raise click events"
Is there a way to simulate click event for TextField ? I am using HTML 5 validation to validate a form that has textfield. I populated the helperText and helperTextValidationMsg to indicate a particular field is missing. In validation method I want to raise onclick so that gives the error is similar to onBlur for TextField.

[2018-12-22 09:14] prateekbh commented on #1199
We'll be adding this in 2.0

[2018-12-22 09:46] cromefire commented on #1200
Currently your best bet is to give it an id and get it by id.

But in your particular case a better choice is to grab a reference to the `form` element and call a method named something like `checkValidity()` (not sure if that is the correct name), it will even return you a value that indicates whether everything is correct.

[2018-12-22 12:24] cromefire opened #1201 "[meta] Add WIP bot"
We should consider adding https://github.com/wip/app to prevent PRs from getting merged accidentally

[2018-12-22 14:33] gopalramadugu commented on #1200
@cromefire I have implemented the functionality to see if a field is valid using html5 checkValidity. But I want to simulate the functionality as if the user touched the Textfield. Is this possible ?

[2018-12-22 14:36] cromefire commented on #1200
[code]

[2018-12-22 14:47] cromefire commented on #1200
You can just use plain dom methods, we just don't export the input element yet

[2019-01-06 21:53] gopalramadugu opened #1203 "Card Selection"
Does the Card support the Card ripple effect ?  The below link from Material io does support that. The ripple effect is on the Card it self. I am trying to create a pricing page. I would like offer the users to select with the ink ripple effect and show as selected once the user clicks the button.

https://material-components.github.io/material-components-web-catalog/#/component/card

[2019-01-06 21:55] cromefire commented on #1203
The `ripple` prop should do it.

[2019-01-07 03:09] gopalramadugu commented on #1203
Is that a property on Card or card.media ? I am using a card with card.media that has an image background. Once the user click the image he directed to a new page. I tried ripple on both card and card.media. I have set it ripple={true}. But it doesn't work.

[2019-01-07 14:03] cromefire commented on #1203
It should be on every component.
In the demo the ripple is applied to the primary action:
![devtools](https://user-images.githubusercontent.com/26320625/50772215-55c25a80-128d-11e9-8398-a24da98f840e.png)

[2019-01-08 04:48] gopalramadugu commented on #1203
I created a codepen https://codesandbox.io/s/6lo565y03w. I added the ripple ={true} but it doesnt work. Am I missing something ?

[2019-01-08 06:03] cromefire commented on #1203
No I schedule this for `2.0`

[2019-01-09 02:41] gopalramadugu commented on #1203
Thank you @cromefire . Do we know the release date or planned release date for 2.0 ?

[2019-01-09 08:04] cromefire commented on #1203
No sorry, it's very depending on our time, I think first components might be in alpha in a few weeks

[2019-01-09 15:20] Download commented on #1003
Hi @prateekbh @developit @YePpHa @porfirioribeiro @cromefire @filoozom

Sorry for reviving this old issue... But reading @prateekbh post was like a total deja vu from seeing the author of react-mdc slowly get completely weared out of trying to keep up with the changes in material components from Google... Also, I find that MDC is not doing a great job of supporting modern frameworks like preact/re

[2019-01-09 15:58] cromefire commented on #1003
Sometimes I'm thinking that someone has to really build a framework that really works with preact (or react).

That sounds pretty great, what if you have the css coming from the outside and adding the actual function (closing / opening / onclick...) in preact?
I actually started implementing bootstrap in preact, but had to find out that I have to implement any javascript again, because they are us

[2019-01-09 17:46] cromefire commented on #1003
We could start by "upgrading" one component after the other (we have split them into multiple packages for `2.0`), for example, I think the ripple of mwc is quite nice, so we could keep that, but many things are just "to havy" (or buggy, like the drawer) and could be replaced with things like surface or [mdl](https://getmdl.io/).

[2019-01-09 21:31] Download commented on #1003
Hi @cromefire , thanks for your interest.

I actually have experimented a lot with this, because every time I want to do stuff with Material Design I am faced with the hard choices :)

Let me start by showing you this codepen I just created:
https://codepen.io/StijnDeWitt/full/LMJNQd

Please observe that the JS tab is empty ;)

This codepen has some nice feautures:

1. Observe that when you scroll

[2019-01-10 13:42] cromefire commented on #1003
You also simply use the md ripple, that is something that's working nicely

Why not build css and let the rest be the concern of the framework (or at least only provide helper functions)

I just wrote a webpack config one time and and copy it from project to project and at sometime I have to create a template...

_Tip: For SSR write multiple configs and a base config, let webpack put the file in s

[2019-01-14 03:39] gopalramadugu opened #1236 "FormField radio buttons and checkboxes responsive ?"
I created a page with Layoutgrid with radio buttons and checkboxes. When I try the responsive mode in Chrome. The page does align the content in a responsive layout. Looks like the issue is with FormField. I want to align the content in horizontal layout when viewed in full page and vertical layout when the view switches to responsive. Below is the sandbox if you open the page in a new window and

[2019-01-14 07:32] cromefire commented on #1236
I think your error is that you use `htmlFor` instead of `for` and div and Typography in the label could also break it

[2019-01-15 03:40] gopalramadugu commented on #1236
@cromefire I replaced htmlFor with for and removed div and typography. It is still breaking.

https://codesandbox.io/s/8yym72kj40

[2019-01-15 05:06] gopalramadugu commented on #1236
Ok found the issue. I was using ForField for all radios at once. you should use one for each element.

[2019-01-15 05:06] #1236 closed

[2019-01-15 05:54] cromefire commented on #1236
Sorry I didn't mess around with that in the last time

[2019-01-16 21:42] greenkeeper[bot] opened #1237 "An in-range update of eslint-config-prettier is breaking the build 🚨"
## The devDependency [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) was updated from `3.4.0` to `3.5.0`.

🚨 [View failing branch](https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Feslint-config-prettier-3.5.0).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2019-01-18 22:08] greenkeeper[bot] opened #1238 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.12.0` to `5.12.1`.

🚨 [View failing branch](https://github.com/prateekbh/preact-material-components/compare/master...prateekbh:greenkeeper%2Feslint-5.12.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this p

[2019-01-20 01:56] gopalramadugu opened #1239 "Show TopAppBar with scroll"
Can we make the TopAppBar visible with scroll ? This is useful if I have a page that might need scroll. I dont want the user to scroll to top to open menu again. I tried couple of css with position fixed and z-index none seem to work. Am missing a property setting ?

[2019-01-20 09:53] cromefire commented on #1239
Cc: @prateekbh

[2019-01-23 16:45] jeremy-coleman opened #1240 "theme example"
hi friend, was experimenting and put this up in case you find it useful to maybe show others how easy theming is, including vendor-overrides and consumer boundaries using the mdc theme variables  - also maybe worth noting since its just css you don't really need webpack hmr ,gulp livereload or whatever else works just fine

https://github.com/jeremy-coleman/preactive-htm/tree/mdc-theme

specifical

[2019-01-25 00:20] gopalramadugu opened #1241 "Label and fullwidthTextField"
I am getting below warning in console and this seems to be messing up the rendering of the component. Is this a bug or a know restriction ? I have an address field which uses the full width property. Can you please guide me here ?

Passing a "label" prop is not supported when using a "fullwidth" text field.

[2019-01-25 01:10] gopalramadugu commented on #1241
Thank you @prateekbh. I have one more question. During navigation If I visit a page multiple times on few occasions I am getting below error. This seems to happen If I set state on loading of the page. The this.MdComponent seems to be set to null. I am setting the state in componentDidMount.

Uncaught (in promise) TypeError: Cannot set property 'value' of undefined
    at TextFieldInput.componentW

[2019-01-25 05:08] gopalramadugu commented on #1241
To be more specific this happens when I have child component that has a text field and I set the state in parent componentdidmount for the child component and pass the state as props.

[2019-01-25 05:36] gopalramadugu commented on #1241
@prateekbh
Below is the codesanbox. I am using router and setting state from query parms. Can you please help me with this ?

https://codesandbox.io/s/xv0rrx62n4

[2019-01-25 15:42] gopalramadugu commented on #1241
The issue seems to be specific to componentdidmount. If I set state in constructor I dont see same issue.

[2019-01-25 16:24] cromefire commented on #1241
There is a missing condition

[2019-01-25 19:49] #1241 closed

[2019-01-26 22:03] prateekbh opened #1244 "2.0 - Root component should export all members"
A component should export all of its members, user shouldn't have to specify a path to access any sub member.

e.g.
https://github.com/prateekbh/preact-material-components/blob/2.0/packages/docs/src/routes/chips/index.js#L6-L8

**Scope:** All components

[2019-01-26 22:04] prateekbh opened #1245 "2.0 - Update Button"
This is a tracking issue for updating Button for 2.0 release

**Scope:** Button

[2019-01-26 22:05] prateekbh opened #1246 "2.0 - Update Card"
This is a tracking issue for updating _Card_

**Scope:**: Card

[2019-01-26 22:06] prateekbh opened #1247 "2.0 - Update Chip"
This is a tracking issue for updating Chip

**Scope:** Chip

[2019-01-26 22:06] prateekbh opened #1248 "2.0 - Update Checkbox"
This is a tracking issue for updating Checkbox

**Scope:** Checkbox

[2019-01-26 22:07] prateekbh opened #1249 "2.0 - Update Dialog"
This is a tracking issue for updating Dialog

**Scope:** Dialog

[2019-01-26 22:09] prateekbh opened #1250 "2.0 - Update Drawer"
This is a tracking issue for updating Drawer

**Scope:** Drawer

[2019-01-26 22:10] cromefire commented on #1244
It's to have less overhead, webpack should filter it out, but I don't know if everything has tree-shaking

[2019-01-26 22:10] prateekbh opened #1251 "2.0 - Add gesture support to drawer"
We need to add support for swipe gesture to our modal drawer, because its 2019.

[2019-01-26 22:11] prateekbh opened #1252 "2.0 - Update Elevation"
This is a tracking issue for updating Elevation

**Scope:** Elevation

[2019-01-26 22:12] prateekbh commented on #1244
Yep but it makes it super unintuitive.
Most compilers/bundlers have tree shaking now, if not thats the users choice to have a bundler which does not do a very basic thing

[2019-01-26 22:13] prateekbh opened #1253 "2.0 - Update Fab"
This is a tracking issue for updating Fab

**Scope:** Fab

[2019-01-26 22:14] prateekbh commented on #1251
@developit has the script to do this. we just have to ask for it and paste it here I guess.
Otherwise we can evaluate something like hammer/tocca.js

[2019-01-26 22:15] prateekbh opened #1254 "2.0 - Update FormField"
This is a tracking issue for updating FormField

**Scope:** FormField

[2019-01-26 22:16] prateekbh opened #1255 "2.0 - Update IconButton"
This is a tracking issue for updating IconButton

**Scope:** IconButton

[2019-01-26 22:17] prateekbh opened #1256 "2.0 - Update ImageList"
This is a tracking issue for updating ImageList

**Scope:** ImageList

[2019-01-26 22:17] prateekbh opened #1257 "2.0 - Update LayoutGrid"
This is a tracking issue for updating LayoutGrid

**Scope:** LayoutGrid
**Docs:** https://material.io/develop/web/components/layout-grid/

[2019-01-26 22:19] prateekbh opened #1258 "2.0 - Update LinerProgress"
This is a tracking issue for updating LinerProgress

**Scope:** LinerProgress

[2019-01-26 22:19] prateekbh opened #1259 "2.0 - Update List"
This is a tracking issue for updating List

**Scope:** List

[2019-01-26 22:19] prateekbh opened #1260 "2,0 - Update Menu"
This is a tracking issue for updating Menu

**Scope:** Menu

[2019-01-26 22:21] prateekbh opened #1261 "2.0 - Update Radio"
This is a tracking issue for updating Radio

**Scope:** Radio

[2019-01-26 22:21] prateekbh opened #1262 "2.0 - Create Spinner"
This is a tracking issue for creating a new experimental package Spinner

**Scope:** Spinner

[2019-01-26 22:22] prateekbh opened #1263 "2.0 - Create BottomSheet"
This is a tracking issue for creating a new experimental package BottomSheet

**Scope:** BottomSheet